In [1]:
#!pip install --upgrade google-cloud-bigquery[pandas]

In [2]:
from google.cloud import bigquery

In [3]:
client=bigquery.Client()

C:\ProgramData\Anaconda3\lib\site-packages\google\auth\_default.py:66: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK. We recommend that most server applications use service accounts instead. If your application continues to use end user credentials from Cloud SDK, you might receive a "quota exceeded" or "API not enabled" error. For more information about service accounts, see https://cloud.google.com/docs/authentication/
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [4]:
%load_ext google.cloud.bigquery

In [5]:
%reload_ext google.cloud.bigquery

In [6]:
#######################################
print('Setting everything up...')
#######################################

import warnings
warnings.filterwarnings('ignore')
import pandas_gbq 
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.lines as mlines
from matplotlib.lines import Line2D

import matplotlib.ticker as ticker
import matplotlib.cm as cm
import matplotlib as mpl

import matplotlib.pyplot as plt
%matplotlib inline



import os
import sys
from datetime import datetime
from datetime import date
from datetime import time
from datetime import timedelta
import time

DATASET = 'aou-res-curation-prod.prod_drc_dataset'
 
plt.style.use('ggplot')
pd.options.display.max_rows = 999
pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 999

from IPython.display import HTML as html_print

def cstr(s, color='black'):
    return "<text style=color:{}>{}</text>".format(color, s)


print('done.')

Setting everything up...
done.

In [7]:
dic={'src_hpo_id':["seec_miami","seec_morehouse","seec_emory","uamc_banner","pitt","nyc_cu","ipmc_uic","trans_am_spectrum","tach_hfhs","nec_bmc","cpmc_uci","nec_phs","nyc_cornell","ipmc_nu","nyc_hh","ipmc_uchicago","aouw_mcri","syhc","cpmc_ceders","seec_ufl","saou_uab","trans_am_baylor","cpmc_ucsd","ecchc","chci","aouw_uwh","cpmc_usc","hrhc","ipmc_northshore","chs","cpmc_ucsf","jhchc","aouw_mcw","cpmc_ucd","ipmc_rush"],
    'HPO':["SouthEast Enrollment Center Miami","SouthEast Enrollment Center Morehouse","SouthEast Enrollment Center Emory","Banner Health","University of Pittsburgh","Columbia University Medical Center","University of Illinois Chicago","Spectrum Health","Henry Ford Health System","Boston Medical Center","UC Irvine","Partners HealthCare","Weill Cornell Medical Center","Northwestern Memorial Hospital","Harlem Hospital","University of Chicago","Marshfield Clinic","San Ysidro Health Center","Cedars-Sinai","University of Florida","University of Alabama at Birmingham","Baylor","UC San Diego","Eau Claire Cooperative Health Center","Community Health Center, Inc.","UW Health (University of Wisconsin Madison)","University of Southern California","HRHCare","NorthShore University Health System","Cherokee Health Systems","UC San Francisco","Jackson-Hinds CHC","Medical College of Wisconsin","UC Davis","Rush University"]}


site_df=pd.DataFrame(data=dic)
site_df

           src_hpo_id                                          HPO
0          seec_miami            SouthEast Enrollment Center Miami
1      seec_morehouse        SouthEast Enrollment Center Morehouse
2          seec_emory            SouthEast Enrollment Center Emory
3         uamc_banner                                Banner Health
4                pitt                     University of Pittsburgh
5              nyc_cu           Columbia University Medical Center
6            ipmc_uic               University of Illinois Chicago
7   trans_am_spectrum                              Spectrum Health
8           tach_hfhs                     Henry Ford Health System
9             nec_bmc                        Boston Medical Center
10           cpmc_uci                                    UC Irvine
11            nec_phs                          Partners HealthCare
12        nyc_cornell                 Weill Cornell Medical Center
13            ipmc_nu               Northwestern Memorial Hospital
14             nyc_hh                              Harlem Hospital
15      ipmc_uchicago                        University of Chicago
16          aouw_mcri                            Marshfield Clinic
17               syhc                     San Ysidro Health Center
18        cpmc_ceders                                 Cedars-Sinai
19           seec_ufl                        University of Florida
20           saou_uab          University of Alabama at Birmingham
21    trans_am_baylor                                       Baylor
22          cpmc_ucsd                                 UC San Diego
23              ecchc         Eau Claire Cooperative Health Center
24               chci                Community Health Center, Inc.
25           aouw_uwh  UW Health (University of Wisconsin Madison)
26           cpmc_usc            University of Southern California
27               hrhc                                      HRHCare
28    ipmc_northshore          NorthShore University Health System
29                chs                      Cherokee Health Systems
30          cpmc_ucsf                             UC San Francisco
31              jhchc                            Jackson-Hinds CHC
32           aouw_mcw                 Medical College of Wisconsin
33           cpmc_ucd                                     UC Davis
34          ipmc_rush                              Rush University

# Foreign key references (i.e. visit_occurrence_id in the condition table) should be valid.

## Person

In [8]:
print(("There is no _mapping table for person table so I could not separete results by sites "))

There is no _mapping table for person table so I could not separete results by sites

### gender_concept_id

In [9]:
######################################
print('Getting the data from the database...')
######################################

foreign_key_df = pd.io.gbq.read_gbq('''
    SELECT
        gender_concept_id,
        concept_name,
        COUNT(*) AS cnt
    FROM
       `{}.unioned_ehr_person` AS p
    INNER JOIN
        `{}.concept` AS c
        ON
            p.gender_concept_id=c.concept_id
    GROUP BY
        1,2
    '''.format(DATASET, DATASET,DATASET,DATASET, DATASET,DATASET),
                    dialect='standard')
print(foreign_key_df.shape[0], 'records received.')

Getting the data from the database...
6 records received.

In [10]:
foreign_key_df

   gender_concept_id         concept_name    cnt
0               8551              UNKNOWN     11
1               8507                 MALE  41031
2               8532               FEMALE  68562
3                  0  No matching concept     46
4            4215271   Gender unspecified     10
5            4214687       Gender unknown      1

In [11]:
foreign_key_df.loc[foreign_key_df["gender_concept_id"]==0,["cnt"]]

   cnt
3   46

In [12]:
success_rate=100-round(100*(foreign_key_df.loc[foreign_key_df["gender_concept_id"]==0,["cnt"]])/sum(foreign_key_df.iloc[:,2]),1)
print("success rate for gender_concept_id is: ", success_rate.iloc[0,0])

success rate for gender_concept_id is:  100.0

In [13]:
foreign_key_df

   gender_concept_id         concept_name    cnt
0               8551              UNKNOWN     11
1               8507                 MALE  41031
2               8532               FEMALE  68562
3                  0  No matching concept     46
4            4215271   Gender unspecified     10
5            4214687       Gender unknown      1

### race_concept_id

In [14]:
######################################
print('Getting the data from the database...')
######################################

foreign_key_df = pd.io.gbq.read_gbq('''
    SELECT
        race_concept_id,
        concept_name,
        COUNT(*) AS cnt
    FROM
       `{}.unioned_ehr_person` AS p
    INNER JOIN
        `{}.concept` AS c
        ON
            p.race_concept_id=c.concept_id
    GROUP BY
        1,2
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
foreign_key_df.shape

print(foreign_key_df.shape[0], 'records received.')

Getting the data from the database...
31 records received.

In [15]:
foreign_key_df

    race_concept_id                               concept_name    cnt
0              8522                                 Other Race   2473
1              8552                                    Unknown   1796
2          44814649                                      Other      7
3          44814653                                    Unknown   4221
4           4184966           American Indian or Alaska native      9
5              8516                  Black or African American  18221
6          38003615            Middle Eastern or North African      9
7          38003598                                      Black   1774
8              8527                                      White  63201
9          38003584                                   Japanese     14
10         38003611                                Micronesian      2
11         38003613                     Other Pacific Islander     87
12          4188159                                   Hispanic      3
13                0                        No matching concept  11080
14             8657           American Indian or Alaska Native    377
15         38003574                               Asian Indian    109
16             8557  Native Hawaiian or Other Pacific Islander     84
17         38003573                              Alaska Native      1
18         38003610                                 Polynesian      1
19         38003581                                   Filipino     16
20             8515                                      Asian   2059
21         38003586                                    Laotian     64
22          4218674                       Unknown racial group    428
23          4212311                         Mixed racial group   2473
24         38003599                           African American     22
25         44814660                           Refuse to answer    100
26         38003572                            American Indian    923
27         38003585                                     Korean      8
28         38003592                                 Vietnamese      2
29         38003579                                    Chinese     55
30         45483082                         Other ethnic group     33

In [16]:
success_rate=100-round(100*(foreign_key_df.loc[foreign_key_df["race_concept_id"]==0,["cnt"]])/sum(foreign_key_df.iloc[:,2]),1)
print("success rate for race_concept_id is: ", success_rate.iloc[0,0])

success rate for race_concept_id is:  89.9

### ethnicity_concept_id

In [17]:
######################################
print('Getting the data from the database...')
######################################

foreign_key_df = pd.io.gbq.read_gbq('''
    SELECT
        ethnicity_concept_id,
        concept_name,
        COUNT(*) AS cnt
    FROM
       `{}.unioned_ehr_person` AS p
    INNER JOIN
        `{}.concept` AS c
        ON
            p.ethnicity_concept_id=c.concept_id
    GROUP BY
        1,2
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
foreign_key_df.shape

print(foreign_key_df.shape[0], 'records received.')

Getting the data from the database...
4 records received.

In [18]:
foreign_key_df

   ethnicity_concept_id            concept_name    cnt
0              38003563      Hispanic or Latino  17101
1              38003564  Not Hispanic or Latino  68194
2                  8552                 Unknown    161
3                     0     No matching concept  24205

In [19]:
success_rate=100-round(100*(foreign_key_df.loc[foreign_key_df["ethnicity_concept_id"]==0,["cnt"]])/sum(foreign_key_df.iloc[:,2]),1)
print("success rate for ethnicity_concept_id is: ", round(success_rate.iloc[0,0],1))

success rate for ethnicity_concept_id is:  77.9

### location_id

In [20]:
######################################
print('Getting the data from the database...')
######################################

foreign_key_df = pd.io.gbq.read_gbq('''
    SELECT
    location_id,
    COUNT(*) AS total_cnt
    FROM
       `{}.unioned_ehr_person` AS p
    GROUP BY
        1
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
foreign_key_df.shape

print(foreign_key_df.shape[0], 'records received.')

Getting the data from the database...
43719 records received.

In [21]:
foreign_key_df.head()

    location_id  total_cnt
0  3.500000e+16          1
1  3.500000e+16          1
2  3.500000e+16          1
3  3.500000e+16          1
4  3.500000e+16          1

In [22]:

print("location_id is NULL ")

location_id is NULL

### provider_id

In [23]:
######################################
print('Getting the data from the database...')
######################################

foreign_key_df = pd.io.gbq.read_gbq('''
    SELECT
        provider_id,
        COUNT(*) AS cnt
    FROM
       `{}.unioned_ehr_person` AS p
    GROUP BY
        1
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
foreign_key_df.shape

print(foreign_key_df.shape[0], 'records received.')

Getting the data from the database...
7384 records received.

In [24]:
foreign_key_df.head()

   provider_id    cnt
0      15090.0      4
1          NaN  44222
2      42414.0      1
3      13562.0      4
4      12902.0     17

In [25]:

print("provider_id is NULL ")

provider_id is NULL

### care_site_id

In [26]:
######################################
print('Getting the data from the database...')
######################################

foreign_key_df = pd.io.gbq.read_gbq('''
    SELECT
        care_site_id,
        COUNT(*) AS cnt
    FROM
       `{}.unioned_ehr_person` AS p
    GROUP BY
        1
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
foreign_key_df.shape

print(foreign_key_df.shape[0], 'records received.')

Getting the data from the database...
1169 records received.

In [27]:
foreign_key_df.head()

   care_site_id  cnt
0  3.500000e+16   26
1  3.500000e+16  294
2  3.500000e+16    4
3  3.500000e+16    5
4  3.500000e+16   36

In [28]:

print("care_site_id is NULL ")

care_site_id is NULL

### gender_source_concept_id

In [29]:
######################################
print('Getting the data from the database...')
######################################

foreign_key_df = pd.io.gbq.read_gbq('''
    SELECT
        gender_source_concept_id,
        COUNT(*) AS cnt
    FROM
       `{}.unioned_ehr_person` AS p
    GROUP BY
        1
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
foreign_key_df.shape

print(foreign_key_df.shape[0], 'records received.')

Getting the data from the database...
15 records received.

In [30]:
foreign_key_df

    gender_source_concept_id    cnt
0                        0.0  10410
1                     8532.0   6841
2                     8507.0   4716
3                        NaN  44865
4                        1.0   2822
5                        2.0   1741
6                  4214687.0      1
7                      362.0  14874
8                      363.0  10489
9                 44814666.0    277
10                44814665.0    521
11                   44395.0   3905
12                   44394.0   8188
13                   44396.0      1
14                 4215271.0     10

In [31]:

print("gender_source_concept_id is NULL ")

gender_source_concept_id is NULL

### race_source_concept_id

In [32]:
######################################
print('Getting the data from the database...')
######################################

foreign_key_df = pd.io.gbq.read_gbq('''
    SELECT
        race_source_concept_id,
        concept_name,
        COUNT(*) AS cnt
    FROM
       `{}.unioned_ehr_person` AS p
    INNER JOIN
        `{}.concept` AS c
        ON
            p.race_source_concept_id=c.concept_id
    GROUP BY
        1,2
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
foreign_key_df.shape

print(foreign_key_df.shape[0], 'records received.')

Getting the data from the database...
46 records received.

In [33]:
foreign_key_df

    race_source_concept_id                               concept_name    cnt
0                       11                             Procedure type   4079
1                        9                                 Visit type      3
2                        6                                 Death type    479
3                     8522                                 Other Race    809
4                     8552                                    Unknown    792
5                     8516                  Black or African American   4479
6                 38003615            Middle Eastern or North African      4
7                 38003598                                      Black    248
8                     8527                                      White  12099
9                      201               Quantified Clinical Drug Box      2
10                       7                                   Metadata     13
11                38003613                     Other Pacific Islander     23
12                 4188159                                   Hispanic      3
13                     203                          Clinical Drug Box      3
14                      10                                  Procedure     24
15                       0                        No matching concept  13077
16                       4                                  Ethnicity    755
17                    8657           American Indian or Alaska Native     48
18                    8557  Native Hawaiian or Other Pacific Islander     20
19                      54                             Drug/Procedure      1
20                44814657  Native Hawaiian or Other Pacific Islander      8
21                44814655                                      Asian      6
22                    8515                                      Asian    566
23                45882768                                   Multiple     16
24                45877986                                    Unknown      1
25                45878142                                      Other    498
26                44814656                  Black or African American    224
27                       5                    Observation period type    290
28                 4218674                       Unknown racial group    407
29                 4212311                         Mixed racial group     66
30                       8                                      Visit    113
31                      23                 Measurement value operator     67
32                      45                         Device/Observation      1
33                      12                                   Modifier      4
34                45880832                            Patient refused     50
35                       1                                     Domain   3002
36                44814660                           Refuse to answer    100
37                      13                                       Drug   1651
38                     200                Quantified Branded Drug Box     45
39                       2                                     Gender    287
40                       3                                       Race    417
41                      19                                  Condition      1
42                      17                                     Device      2
43                44814654           American Indian or Alaska Native      8
44                44814658                                      White    412
45                45483082                         Other ethnic group     33

In [34]:

print("race_source_concept_id is NULL ")

race_source_concept_id is NULL

### ethnicity_source_concept_id

In [35]:
######################################
print('Getting the data from the database...')
######################################

foreign_key_df = pd.io.gbq.read_gbq('''
    SELECT
        ethnicity_source_concept_id,
        COUNT(*) AS cnt
    FROM
       `{}.unioned_ehr_person` AS p
    GROUP BY
        1
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
foreign_key_df.shape

print(foreign_key_df.shape[0], 'records received.')

Getting the data from the database...
52 records received.

In [36]:
foreign_key_df

    ethnicity_source_concept_id    cnt
0                  0.000000e+00  23447
1                  3.800356e+07   6237
2                           NaN  29301
3                  8.552000e+03    288
4                  3.000000e+00   2558
5                  1.000000e+00   3837
6                  3.800356e+07    976
7                  2.000000e+00   2549
8                  4.000000e+00   3549
9                  1.100000e+01      2
10                 1.500000e+01     21
11                 1.600000e+01     39
12                 1.800000e+01    644
13                 9.000000e+00      1
14                 2.900000e+01     38
15                 3.800000e+01      7
16                 4.100000e+01      5
17                 1.900000e+01      3
18                 7.000000e+00      6
19                 8.000000e+00     29
20                 1.000000e+01      4
21                 1.200000e+01      2
22                 1.400000e+01      1
23                 1.700000e+01      3
24                 2.800000e+01      6
25                 3.100000e+01      2
26                 3.400000e+01      3
27                 3.700000e+01      3
28                 3.900000e+01      2
29                 4.000000e+01      4
30                 4.400000e+01      1
31                 6.000000e+00      1
32                 3.600000e+01      1
33                 3.125080e+05     79
34                 4.587799e+07     11
35                 4.312218e+08     42
36                 3.125060e+05     35
37                 3.125070e+05   3572
38                 4.588083e+07     94
39                 1.521168e+08   5329
40                 1.521166e+08  14157
41                 1.010000e+02    362
42                 1.000000e+02     55
43                 4.481465e+07    486
44                 4.481465e+07    282
45                 1.489867e+09      1
46                 4.433500e+04    105
47                 4.433100e+04  10871
48                 4.433300e+04    234
49                 2.030000e+02      3
50                 4.433200e+04    371
51                 2.010000e+02      2

In [37]:

print("ethnicity_source_concept_id is NULL ")

ethnicity_source_concept_id is NULL

## VISIT_OCCURANCE TABLE

### person_id

In [38]:
######################################
print('Getting the data from the database...')
######################################

foreign_key_df = pd.io.gbq.read_gbq('''
    SELECT
        COUNT(*) AS total,
        sum(case when (vo.person_id is null or vo.person_id=0) then 1 else 0 end) as missing
    FROM
       `{}.unioned_ehr_visit_occurrence` AS vo
    INNER JOIN
        `{}.unioned_ehr_observation` AS o
        ON
            vo.person_id=o.person_id
    WHERE 
        o.observation_source_concept_id=1586099 and o.value_as_concept_id=45877994
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
foreign_key_df.shape

print(foreign_key_df.shape[0], 'records received.')

Getting the data from the database...
1 records received.

In [39]:
foreign_key_df

   total missing
0      0    None

### visit_concept_id

In [40]:
######################################
print('Getting the data from the database...')
######################################

foreign_key_df = pd.io.gbq.read_gbq('''
    SELECT
        concept_name,
        visit_concept_id,
        COUNT(*)
    FROM
       `{}.unioned_ehr_visit_occurrence` AS vo
    INNER JOIN
        `{}.concept` AS c
        ON
            vo.visit_concept_id=c.concept_id
    GROUP BY
        1,2
    ORDER BY
        2
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
foreign_key_df.shape

print(foreign_key_df.shape[0], 'records received.')

Getting the data from the database...
21 records received.

In [41]:
foreign_key_df.head()

                         concept_name  visit_concept_id      f0_
0                 No matching concept                 0  1730719
1  Emergency Room and Inpatient Visit               262    15471
2      Off Campus-Outpatient Hospital              5084     6210
3                  Inpatient Hospital              8717    22296
4                 Outpatient Hospital              8756   116797

#### visit_concept_id BY SITE

In [42]:
######################################
print('Getting the data from the database...')
######################################

visit_occurrence_visit_concept_id_df = pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT
                src_hpo_id,
                COUNT(vo.person_id) as total_counts
            FROM
               `{}.unioned_ehr_visit_occurrence` AS vo
            INNER JOIN
                `{}.concept` AS c
                ON
                    vo.visit_concept_id=c.concept_id
            LEFT OUTER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_visit_occurrence`) AS mvo
                ON
                    vo.visit_occurrence_id=mvo.visit_occurrence_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                mvo.src_hpo_id,
                COUNT(vo.person_id) as missing_counts
            FROM
               `{}.unioned_ehr_visit_occurrence` AS vo
            INNER JOIN
                `{}.concept` AS c
                ON
                    vo.visit_concept_id=c.concept_id
            LEFT OUTER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_visit_occurrence`) AS mvo
                ON
                    vo.visit_occurrence_id=mvo.visit_occurrence_id
            WHERE
                (vo.visit_concept_id is null or vo.visit_concept_id=0) 
            GROUP BY
                1
        )

    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        4
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
visit_occurrence_visit_concept_id_df.shape

print(visit_occurrence_visit_concept_id_df.shape[0], 'records received.')

Getting the data from the database...
32 records received.

In [43]:
visit_occurrence_visit_concept_id_df

           src_hpo_id  missing_counts  total_counts  succes_rate
0               ecchc             NaN         12077          NaN
1     ipmc_northshore             NaN         94179          NaN
2           tach_hfhs             NaN        628057          NaN
3      seec_morehouse             NaN         59855          NaN
4              nyc_hh             NaN         19334          NaN
5                hrhc             NaN         40251          NaN
6                chci             NaN         89741          NaN
7                syhc             NaN         78498          NaN
8            saou_uab             NaN        206058          NaN
9           ipmc_rush             NaN         56208          NaN
10          aouw_mcri             NaN        889744          NaN
11           cpmc_uci             NaN        328582          NaN
12          cpmc_ucsd             NaN        343573          NaN
13              jhchc             NaN         24192          NaN
14               pitt             NaN        922975          NaN
15           cpmc_ucd        250083.0        291202         14.1
16            ipmc_nu        373654.0        641671         41.8
17           aouw_mcw        159117.0        362780         56.1
18           seec_ufl         41312.0        105407         60.8
19        uamc_banner         93505.0        390178         76.0
20           aouw_uwh         81637.0        383979         78.7
21            nec_phs        720018.0       3895972         81.5
22           cpmc_usc          4478.0         99716         95.5
23          cpmc_ucsf           307.0         12353         97.5
24             nyc_cu          4648.0        726392         99.4
25         seec_emory           542.0        110137         99.5
26           ipmc_uic          1083.0        327606         99.7
27  trans_am_spectrum           232.0        152582         99.8
28            nec_bmc            59.0        547560        100.0
29                chs             3.0         63840        100.0
30        nyc_cornell            35.0        789928        100.0
31         seec_miami             6.0        202993        100.0

In [44]:
visit_occurrence_visit_concept_id_df=visit_occurrence_visit_concept_id_df.rename(columns={"succes_rate":"visit_occurrence_visit_concept_id"})
visit_occurrence_visit_concept_id_df=visit_occurrence_visit_concept_id_df[["src_hpo_id","visit_occurrence_visit_concept_id"]]
visit_occurrence_visit_concept_id_df=visit_occurrence_visit_concept_id_df.fillna(100)
visit_occurrence_visit_concept_id_df

           src_hpo_id  visit_occurrence_visit_concept_id
0               ecchc                              100.0
1     ipmc_northshore                              100.0
2           tach_hfhs                              100.0
3      seec_morehouse                              100.0
4              nyc_hh                              100.0
5                hrhc                              100.0
6                chci                              100.0
7                syhc                              100.0
8            saou_uab                              100.0
9           ipmc_rush                              100.0
10          aouw_mcri                              100.0
11           cpmc_uci                              100.0
12          cpmc_ucsd                              100.0
13              jhchc                              100.0
14               pitt                              100.0
15           cpmc_ucd                               14.1
16            ipmc_nu                               41.8
17           aouw_mcw                               56.1
18           seec_ufl                               60.8
19        uamc_banner                               76.0
20           aouw_uwh                               78.7
21            nec_phs                               81.5
22           cpmc_usc                               95.5
23          cpmc_ucsf                               97.5
24             nyc_cu                               99.4
25         seec_emory                               99.5
26           ipmc_uic                               99.7
27  trans_am_spectrum                               99.8
28            nec_bmc                              100.0
29                chs                              100.0
30        nyc_cornell                              100.0
31         seec_miami                              100.0

### visit_type_concept_id

In [45]:
######################################
print('Getting the data from the database...')
######################################

foreign_key_df = pd.io.gbq.read_gbq('''
    SELECT
        concept_name,
        visit_type_concept_id,
        COUNT(*)
    FROM
       `{}.unioned_ehr_visit_occurrence` AS vo
    INNER JOIN
        `{}.concept` AS c
        ON
            vo.visit_type_concept_id=c.concept_id
    GROUP BY
        1,2
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
foreign_key_df.shape

print(foreign_key_df.shape[0], 'records received.')

Getting the data from the database...
6 records received.

In [46]:
foreign_key_df

                     concept_name  visit_type_concept_id       f0_
0  Non-hospital institution Visit               42898160      1309
1             No matching concept                      0    218789
2                 Inpatient Visit                   9201     29739
3                Outpatient Visit                   9202    723910
4            Emergency Room Visit                   9203     20767
5   Visit derived from EHR record               44818518  11963399

In [47]:
success_rate=100-round(100*(foreign_key_df.loc[foreign_key_df["visit_type_concept_id"]==0,["f0_"]])/sum(foreign_key_df.iloc[:,2]),1)
print("success rate for visit_concept_id is: ", success_rate.iloc[0,0])

success rate for visit_concept_id is:  98.3

#### visit_type_concept_id BY SITE

In [48]:
######################################
print('Getting the data from the database...')
######################################

visit_occurrence_visit_type_concept_id = pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT
                src_hpo_id,
                COUNT(vo.person_id) as total_counts
            FROM
               `{}.unioned_ehr_visit_occurrence` AS vo
            INNER JOIN
                `{}.concept` AS c
                ON
                    vo.visit_type_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_visit_occurrence`) AS mvo
                ON
                    vo.visit_occurrence_id=mvo.visit_occurrence_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                mvo.src_hpo_id,
                COUNT(vo.person_id) as missing_counts
            FROM
               `{}.unioned_ehr_visit_occurrence` AS vo
            INNER JOIN
                `{}.concept` AS c
                ON
                    vo.visit_type_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_visit_occurrence`) AS mvo
                ON
                    vo.visit_occurrence_id=mvo.visit_occurrence_id
            WHERE
                (vo.visit_type_concept_id is null or vo.visit_type_concept_id=0) 
            GROUP BY
                1
        )

    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        4
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
visit_occurrence_visit_type_concept_id.shape

print(visit_occurrence_visit_type_concept_id.shape[0], 'records received.')

Getting the data from the database...
31 records received.

In [49]:
visit_occurrence_visit_type_concept_id

           src_hpo_id  missing_counts  total_counts  succes_rate
0         uamc_banner             NaN        390178          NaN
1                hrhc             NaN         40251          NaN
2          seec_emory             NaN        110137          NaN
3           cpmc_ucsd             NaN        343573          NaN
4               jhchc             NaN         24192          NaN
5            cpmc_uci             NaN        328582          NaN
6             nec_bmc             NaN        547560          NaN
7                 chs             NaN         63840          NaN
8           tach_hfhs             NaN        628057          NaN
9            cpmc_ucd             NaN        291202          NaN
10         seec_miami             NaN        202993          NaN
11               chci             NaN         89741          NaN
12             nyc_cu             NaN        726392          NaN
13    ipmc_northshore             NaN         94179          NaN
14        nyc_cornell             NaN        789928          NaN
15            nec_phs             NaN       3895972          NaN
16            ipmc_nu             NaN        641671          NaN
17               pitt             NaN        922975          NaN
18               syhc             NaN         78498          NaN
19              ecchc             NaN         12077          NaN
20           saou_uab             NaN        206058          NaN
21           ipmc_uic             NaN        327606          NaN
22  trans_am_spectrum             NaN        152582          NaN
23          ipmc_rush             NaN         56208          NaN
24           aouw_uwh             NaN        383979          NaN
25           aouw_mcw             NaN        362780          NaN
26     seec_morehouse         76760.0        136615         43.8
27             nyc_hh          9319.0         19334         51.8
28           seec_ufl         18690.0        105407         82.3
29          aouw_mcri        114019.0        889744         87.2
30          cpmc_ucsf             1.0         95602        100.0

In [50]:
visit_occurrence_visit_type_concept_id=visit_occurrence_visit_type_concept_id.rename(columns={"succes_rate":"visit_occurrence_visit_type_concept_id"})
visit_occurrence_visit_type_concept_id=visit_occurrence_visit_type_concept_id[["src_hpo_id","visit_occurrence_visit_type_concept_id"]]
visit_occurrence_visit_type_concept_id=visit_occurrence_visit_type_concept_id.fillna(100)
visit_occurrence_visit_type_concept_id

           src_hpo_id  visit_occurrence_visit_type_concept_id
0         uamc_banner                                   100.0
1                hrhc                                   100.0
2          seec_emory                                   100.0
3           cpmc_ucsd                                   100.0
4               jhchc                                   100.0
5            cpmc_uci                                   100.0
6             nec_bmc                                   100.0
7                 chs                                   100.0
8           tach_hfhs                                   100.0
9            cpmc_ucd                                   100.0
10         seec_miami                                   100.0
11               chci                                   100.0
12             nyc_cu                                   100.0
13    ipmc_northshore                                   100.0
14        nyc_cornell                                   100.0
15            nec_phs                                   100.0
16            ipmc_nu                                   100.0
17               pitt                                   100.0
18               syhc                                   100.0
19              ecchc                                   100.0
20           saou_uab                                   100.0
21           ipmc_uic                                   100.0
22  trans_am_spectrum                                   100.0
23          ipmc_rush                                   100.0
24           aouw_uwh                                   100.0
25           aouw_mcw                                   100.0
26     seec_morehouse                                    43.8
27             nyc_hh                                    51.8
28           seec_ufl                                    82.3
29          aouw_mcri                                    87.2
30          cpmc_ucsf                                   100.0

### provider_id

In [51]:
######################################
print('Getting the data from the database...')
######################################

foreign_key_df = pd.io.gbq.read_gbq('''
    SELECT
        vo.provider_id,
        COUNT(*) AS cnt
    FROM
       `{}.unioned_ehr_visit_occurrence` AS vo
    GROUP BY
        1
    ORDER BY
        2    
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
foreign_key_df.shape

print(foreign_key_df.shape[0], 'records received.')

Getting the data from the database...
66573 records received.

In [52]:
foreign_key_df.tail(10)

       provider_id      cnt
66563    3967237.0    23449
66564    2882158.0    25677
66565       1934.0    27611
66566         -1.0    27645
66567          4.0    35739
66568      51143.0    43119
66569    3965876.0    47971
66570          3.0    54120
66571          0.0  1546655
66572          NaN  6892827

In [53]:
100-round(100*(foreign_key_df.loc[foreign_key_df["provider_id"].isnull(),["cnt"]].iloc[0,0]
+foreign_key_df.loc[(foreign_key_df["provider_id"]==0),["cnt"]].iloc[0,0])/sum(foreign_key_df.iloc[:,1]),1)

35.400000000000006

In [54]:
total_missing=foreign_key_df.loc[foreign_key_df["provider_id"].isnull(),["cnt"]].iloc[0,0]+foreign_key_df.loc[(foreign_key_df["provider_id"]==0),["cnt"]].iloc[0,0]
total_missing

8439482

#### provider_id by sites

In [55]:
######################################
print('Getting the data from the database...')
######################################

visit_occurrence_provider_id_df = pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT
                mvo.src_hpo_id,
                COUNT(vo.person_id) as total_counts
            FROM
               `{}.unioned_ehr_visit_occurrence` AS vo
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_visit_occurrence`) AS mvo
                ON
                    vo.visit_occurrence_id=mvo.visit_occurrence_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                mvo.src_hpo_id,
                COUNT(vo.person_id) as missing_counts
            FROM
               `{}.unioned_ehr_visit_occurrence` AS vo
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_visit_occurrence`) AS mvo
                ON
                    vo.visit_occurrence_id=mvo.visit_occurrence_id
            GROUP BY
                1
        )

    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        4
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
visit_occurrence_provider_id_df.shape

print(visit_occurrence_provider_id_df.shape[0], 'records received.')

Getting the data from the database...
32 records received.

In [56]:
visit_occurrence_provider_id_df

           src_hpo_id  missing_counts  total_counts  succes_rate
0               ecchc           12077         12077          0.0
1         uamc_banner          390178        390178          0.0
2           cpmc_ucsf           95602         95602          0.0
3           tach_hfhs          628057        628057          0.0
4             nec_phs         3895972       3895972          0.0
5            cpmc_uci          328582        328582          0.0
6             nec_bmc          547560        547560          0.0
7                 chs           63840         63840          0.0
8                chci           89741         89741          0.0
9      seec_morehouse          136615        136615          0.0
10  trans_am_spectrum          152582        152582          0.0
11           ipmc_uic          327606        327606          0.0
12    ipmc_northshore           94179         94179          0.0
13           cpmc_usc           99716         99716          0.0
14          ipmc_rush           56208         56208          0.0
15           saou_uab          206058        206058          0.0
16               pitt          922975        922975          0.0
17        nyc_cornell          789928        789928          0.0
18          aouw_mcri          889744        889744          0.0
19            ipmc_nu          641671        641671          0.0
20               hrhc           40251         40251          0.0
21             nyc_hh           19334         19334          0.0
22           aouw_mcw          362780        362780          0.0
23              jhchc           24192         24192          0.0
24         seec_emory          110137        110137          0.0
25          cpmc_ucsd          343573        343573          0.0
26           aouw_uwh          383979        383979          0.0
27           seec_ufl          105407        105407          0.0
28             nyc_cu          726392        726392          0.0
29           cpmc_ucd          291202        291202          0.0
30         seec_miami          202993        202993          0.0
31               syhc           78498         78498          0.0

In [57]:
visit_occurrence_provider_id_df=visit_occurrence_provider_id_df.rename(columns={"succes_rate":"visit_occurrence_provider_id"})
visit_occurrence_provider_id_df=visit_occurrence_provider_id_df[["src_hpo_id","visit_occurrence_provider_id"]]
visit_occurrence_provider_id_df=visit_occurrence_provider_id_df.fillna(100)
visit_occurrence_provider_id_df

           src_hpo_id  visit_occurrence_provider_id
0               ecchc                           0.0
1         uamc_banner                           0.0
2           cpmc_ucsf                           0.0
3           tach_hfhs                           0.0
4             nec_phs                           0.0
5            cpmc_uci                           0.0
6             nec_bmc                           0.0
7                 chs                           0.0
8                chci                           0.0
9      seec_morehouse                           0.0
10  trans_am_spectrum                           0.0
11           ipmc_uic                           0.0
12    ipmc_northshore                           0.0
13           cpmc_usc                           0.0
14          ipmc_rush                           0.0
15           saou_uab                           0.0
16               pitt                           0.0
17        nyc_cornell                           0.0
18          aouw_mcri                           0.0
19            ipmc_nu                           0.0
20               hrhc                           0.0
21             nyc_hh                           0.0
22           aouw_mcw                           0.0
23              jhchc                           0.0
24         seec_emory                           0.0
25          cpmc_ucsd                           0.0
26           aouw_uwh                           0.0
27           seec_ufl                           0.0
28             nyc_cu                           0.0
29           cpmc_ucd                           0.0
30         seec_miami                           0.0
31               syhc                           0.0

#### care_site_id BY SITE

In [58]:
######################################
print('Getting the data from the database...')
######################################

visit_occurrence_care_site_id_df = pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT
                src_hpo_id,
                COUNT(vo.person_id) as total_counts
            FROM
               `{}.unioned_ehr_visit_occurrence` AS vo
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_visit_occurrence`) AS mvo
                ON
                    vo.visit_occurrence_id=mvo.visit_occurrence_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                mvo.src_hpo_id,
                COUNT(vo.person_id) as missing_counts
            FROM
               `{}.unioned_ehr_visit_occurrence` AS vo
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_visit_occurrence`) AS mvo
                ON
                    vo.visit_occurrence_id=mvo.visit_occurrence_id
            WHERE
                (vo.care_site_id is null or vo.care_site_id=0) 
            GROUP BY
                1
        )

    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        4
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
foreign_key_df.shape

print(visit_occurrence_care_site_id_df.shape[0], 'records received.')

Getting the data from the database...
32 records received.

In [59]:
visit_occurrence_care_site_id_df=visit_occurrence_care_site_id_df.rename(columns={"succes_rate":"visit_occurrence_care_site_id"})
visit_occurrence_care_site_id_df=visit_occurrence_care_site_id_df[["src_hpo_id","visit_occurrence_care_site_id"]]
visit_occurrence_care_site_id_df=visit_occurrence_care_site_id_df.fillna(100)
visit_occurrence_care_site_id_df

           src_hpo_id  visit_occurrence_care_site_id
0                hrhc                          100.0
1            cpmc_usc                          100.0
2            saou_uab                          100.0
3            cpmc_ucd                          100.0
4   trans_am_spectrum                          100.0
5                chci                          100.0
6            aouw_uwh                          100.0
7           aouw_mcri                          100.0
8             nec_phs                          100.0
9                 chs                          100.0
10             nyc_hh                            0.0
11          cpmc_ucsd                            0.0
12         seec_miami                            0.0
13        nyc_cornell                            0.0
14            ipmc_nu                            0.0
15           cpmc_uci                            0.0
16              ecchc                            0.0
17             nyc_cu                            0.0
18        uamc_banner                           16.2
19          tach_hfhs                           41.3
20            nec_bmc                           49.1
21         seec_emory                           72.5
22           aouw_mcw                           78.5
23     seec_morehouse                           85.8
24               syhc                           96.6
25           ipmc_uic                           99.4
26              jhchc                           99.8
27    ipmc_northshore                          100.0
28          ipmc_rush                          100.0
29               pitt                          100.0
30          cpmc_ucsf                          100.0
31           seec_ufl                          100.0

#### visit_source_concept_id BY SITE

In [60]:
######################################
print('Getting the data from the database...')
######################################

visit_occurrence_visit_source_concept_id_df = pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT
                src_hpo_id,
                COUNT(vo.person_id) as total_counts
            FROM
               `{}.unioned_ehr_visit_occurrence` AS vo
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_visit_occurrence`) AS mvo
                ON
                    vo.visit_occurrence_id=mvo.visit_occurrence_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                mvo.src_hpo_id,
                COUNT(vo.person_id) as missing_counts
            FROM
               `{}.unioned_ehr_visit_occurrence` AS vo
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_visit_occurrence`) AS mvo
                ON
                    vo.visit_occurrence_id=mvo.visit_occurrence_id
            WHERE
                (vo.visit_source_concept_id is null or vo.visit_source_concept_id=0) 
            GROUP BY
                1
        )

    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        4
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
visit_occurrence_visit_source_concept_id_df.shape

print(foreign_key_df.shape[0], 'records received.')

Getting the data from the database...
66573 records received.

In [61]:
visit_occurrence_visit_source_concept_id_df=visit_occurrence_visit_source_concept_id_df.rename(columns={"succes_rate":"visit_occurrence_visit_source_concept_id"})
visit_occurrence_visit_source_concept_id_df=visit_occurrence_visit_source_concept_id_df[["src_hpo_id","visit_occurrence_visit_source_concept_id"]]
visit_occurrence_visit_source_concept_id_df=visit_occurrence_visit_source_concept_id_df.fillna(100)
visit_occurrence_visit_source_concept_id_df

           src_hpo_id  visit_occurrence_visit_source_concept_id
0                hrhc                                     100.0
1            cpmc_uci                                     100.0
2      seec_morehouse                                     100.0
3            seec_ufl                                     100.0
4                pitt                                     100.0
5             nec_bmc                                       0.0
6           cpmc_ucsf                                       0.0
7           ipmc_rush                                       0.0
8     ipmc_northshore                                       0.0
9               jhchc                                       0.0
10          cpmc_ucsd                                       0.0
11             nyc_cu                                       0.0
12            nec_phs                                       0.0
13             nyc_hh                                       0.0
14           aouw_mcw                                       0.0
15               syhc                                       0.0
16           ipmc_uic                                       0.0
17                chs                                       0.0
18          tach_hfhs                                       0.0
19        nyc_cornell                                       0.0
20               chci                                       0.0
21           aouw_uwh                                       0.0
22          aouw_mcri                                       0.0
23              ecchc                                       0.0
24  trans_am_spectrum                                       7.6
25            ipmc_nu                                      41.8
26        uamc_banner                                      79.2
27           cpmc_usc                                      95.5
28         seec_emory                                      99.5
29           cpmc_ucd                                      99.7
30           saou_uab                                     100.0
31         seec_miami                                     100.0

#### admitting_source_concept_id BY SITE

In [62]:
######################################
print('Getting the data from the database...')
######################################

visit_occurrence_admitting_source_concept_id_df = pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT
                src_hpo_id,
                COUNT(vo.person_id) as total_counts
            FROM
               `{}.unioned_ehr_visit_occurrence` AS vo
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_visit_occurrence`) AS mvo
                ON
                    vo.visit_occurrence_id=mvo.visit_occurrence_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                mvo.src_hpo_id,
                COUNT(vo.person_id) as missing_counts
            FROM
               `{}.unioned_ehr_visit_occurrence` AS vo
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_visit_occurrence`) AS mvo
                ON
                    vo.visit_occurrence_id=mvo.visit_occurrence_id
            WHERE
                (vo.admitting_source_concept_id is null or vo.admitting_source_concept_id=0) 
            GROUP BY
                1
        )

    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        4
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
visit_occurrence_admitting_source_concept_id_df.shape

print(foreign_key_df.shape[0], 'records received.')

Getting the data from the database...
66573 records received.

In [63]:
visit_occurrence_admitting_source_concept_id_df=visit_occurrence_admitting_source_concept_id_df.rename(columns={"succes_rate":"visit_occurrence_admitting_source_concept_id"})
visit_occurrence_admitting_source_concept_id_df=visit_occurrence_admitting_source_concept_id_df[["src_hpo_id","visit_occurrence_admitting_source_concept_id"]]
visit_occurrence_admitting_source_concept_id_df=visit_occurrence_admitting_source_concept_id_df.fillna(100)
visit_occurrence_admitting_source_concept_id_df

           src_hpo_id  visit_occurrence_admitting_source_concept_id
0            cpmc_usc                                         100.0
1              nyc_hh                                         100.0
2               ecchc                                           0.0
3             nec_phs                                           0.0
4                 chs                                           0.0
5            cpmc_uci                                           0.0
6                chci                                           0.0
7                hrhc                                           0.0
8            saou_uab                                           0.0
9          seec_miami                                           0.0
10            nec_bmc                                           0.0
11     seec_morehouse                                           0.0
12            ipmc_nu                                           0.0
13          tach_hfhs                                           0.0
14               pitt                                           0.0
15           aouw_mcw                                           0.0
16               syhc                                           0.0
17              jhchc                                           0.0
18         seec_emory                                           0.0
19          cpmc_ucsd                                           0.0
20           cpmc_ucd                                           0.2
21           aouw_uwh                                           0.2
22        nyc_cornell                                           0.4
23          cpmc_ucsf                                           0.4
24    ipmc_northshore                                           1.1
25  trans_am_spectrum                                           6.3
26           seec_ufl                                          20.4
27        uamc_banner                                          39.6
28             nyc_cu                                          72.3
29           ipmc_uic                                          98.6
30          aouw_mcri                                          99.7
31          ipmc_rush                                         100.0

#### discharge_to_concept_id BY SITE

In [64]:
######################################
print('Getting the data from the database...')
######################################

visit_occurrence_discharge_to_concept_id_df = pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT
                src_hpo_id,
                COUNT(vo.person_id) as total_counts
            FROM
               `{}.unioned_ehr_visit_occurrence` AS vo
            INNER JOIN
                `{}.concept` AS c
                ON
                    vo.discharge_to_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_visit_occurrence`) AS mvo
                ON
                    vo.visit_occurrence_id=mvo.visit_occurrence_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                mvo.src_hpo_id,
                COUNT(vo.person_id) as missing_counts
            FROM
               `{}.unioned_ehr_visit_occurrence` AS vo
            INNER JOIN
                `{}.concept` AS c
                ON
                    vo.discharge_to_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_visit_occurrence`) AS mvo
                ON
                    vo.visit_occurrence_id=mvo.visit_occurrence_id
            WHERE
                (vo.discharge_to_concept_id is null or vo.discharge_to_concept_id=0) 
            GROUP BY
                1
        )

    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        4
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
visit_occurrence_discharge_to_concept_id_df.shape

print(foreign_key_df.shape[0], 'records received.')

Getting the data from the database...
66573 records received.

In [65]:
visit_occurrence_discharge_to_concept_id_df=visit_occurrence_discharge_to_concept_id_df.rename(columns={"succes_rate":"visit_occurrence_discharge_to_concept_id"})
visit_occurrence_discharge_to_concept_id_df=visit_occurrence_discharge_to_concept_id_df[["src_hpo_id","visit_occurrence_discharge_to_concept_id"]]
visit_occurrence_discharge_to_concept_id_df=visit_occurrence_discharge_to_concept_id_df.fillna(100)
visit_occurrence_discharge_to_concept_id_df

           src_hpo_id  visit_occurrence_discharge_to_concept_id
0              nyc_cu                                     100.0
1                 chs                                       0.0
2           tach_hfhs                                       0.0
3      seec_morehouse                                       0.0
4         uamc_banner                                       0.0
5               jhchc                                       0.0
6          seec_emory                                       0.0
7            saou_uab                                       0.0
8          seec_miami                                       0.0
9            aouw_mcw                                       0.0
10               syhc                                       0.0
11           aouw_uwh                                       0.2
12               pitt                                       6.9
13  trans_am_spectrum                                       7.8
14           ipmc_uic                                       8.8
15        nyc_cornell                                      18.5
16           seec_ufl                                      26.8
17    ipmc_northshore                                      42.9
18          ipmc_rush                                      99.0

#### preceding_visit_occurrence_id BY SITE

In [66]:
######################################
print('Getting the data from the database...')
######################################

visit_occurrence_preceding_visit_occurrence_id_df = pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT
                src_hpo_id,
                COUNT(vo.person_id) as total_counts
            FROM
               `{}.unioned_ehr_visit_occurrence` AS vo
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_visit_occurrence`) AS mvo
                ON
                vo.visit_occurrence_id=mvo.visit_occurrence_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                mvo.src_hpo_id,
                COUNT(vo.person_id) as missing_counts
            FROM
               `{}.unioned_ehr_visit_occurrence` AS vo
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_visit_occurrence`) AS mvo
                ON
                    vo.visit_occurrence_id=mvo.visit_occurrence_id
            WHERE
                (vo.preceding_visit_occurrence_id is null or vo.preceding_visit_occurrence_id=0) 
            GROUP BY
                1
        )

    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        4
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
visit_occurrence_preceding_visit_occurrence_id_df.shape

print(foreign_key_df.shape[0], 'records received.')

Getting the data from the database...
66573 records received.

In [67]:
visit_occurrence_preceding_visit_occurrence_id_df=visit_occurrence_preceding_visit_occurrence_id_df.rename(columns={"succes_rate":"visit_occurrence_preceding_visit_occurrence_id"})
visit_occurrence_preceding_visit_occurrence_id_df=visit_occurrence_preceding_visit_occurrence_id_df[["src_hpo_id","visit_occurrence_preceding_visit_occurrence_id"]]
visit_occurrence_preceding_visit_occurrence_id_df=visit_occurrence_preceding_visit_occurrence_id_df.fillna(100)
visit_occurrence_preceding_visit_occurrence_id_df

           src_hpo_id  visit_occurrence_preceding_visit_occurrence_id
0            cpmc_usc                                           100.0
1               ecchc                                             0.0
2           cpmc_ucsd                                             0.0
3               jhchc                                             0.0
4          seec_emory                                             0.0
5           cpmc_ucsf                                             0.0
6           tach_hfhs                                             0.0
7      seec_morehouse                                             0.0
8         uamc_banner                                             0.0
9            cpmc_uci                                             0.0
10  trans_am_spectrum                                             0.0
11           ipmc_uic                                             0.0
12               pitt                                             0.0
13           seec_ufl                                             0.0
14               syhc                                             0.0
15           saou_uab                                             0.0
16          ipmc_rush                                             0.0
17             nyc_cu                                             0.0
18               hrhc                                             0.0
19            nec_bmc                                             0.0
20          aouw_mcri                                             0.0
21            nec_phs                                             0.0
22            ipmc_nu                                             0.0
23         seec_miami                                             0.0
24           cpmc_ucd                                             0.0
25    ipmc_northshore                                             0.0
26           aouw_mcw                                             0.0
27               chci                                             0.0
28           aouw_uwh                                             0.0
29             nyc_hh                                             1.4
30                chs                                            98.6
31        nyc_cornell                                            99.3

## Condition Occurrence Table

#### condition_concept_id BY SITE

In [68]:
######################################
print('Getting the data from the database...')
######################################

condition_occurrence_condition_concept_id_df = pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT
                src_hpo_id,
                COUNT(co.person_id) as total_counts
            FROM
               `{}.unioned_ehr_condition_occurrence` AS co
            INNER JOIN
                `{}.concept` AS c
                ON
                    co.condition_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                    `{}._mapping_condition_occurrence`)  AS mco
                ON
                    co.condition_occurrence_id=mco.condition_occurrence_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                mco.src_hpo_id,
                COUNT(co.person_id) as missing_counts
            FROM
               `{}.unioned_ehr_condition_occurrence` AS co
            INNER JOIN
                `{}.concept` AS c
                ON
                    co.condition_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                    `{}._mapping_condition_occurrence`)  AS mco
                ON
                    co.condition_occurrence_id=mco.condition_occurrence_id
            WHERE
                (co.condition_concept_id is null or co.condition_concept_id=0) 
            GROUP BY
                1
        )

    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        4
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
condition_occurrence_condition_concept_id_df.shape

print(condition_occurrence_condition_concept_id_df.shape[0], 'records received.')

Getting the data from the database...
32 records received.

In [69]:
condition_occurrence_condition_concept_id_df=condition_occurrence_condition_concept_id_df.rename(columns={"succes_rate":"condition_occurrence_condition_concept_id"})
condition_occurrence_condition_concept_id_df=condition_occurrence_condition_concept_id_df[["src_hpo_id","condition_occurrence_condition_concept_id"]]
condition_occurrence_condition_concept_id_df=condition_occurrence_condition_concept_id_df.fillna(100)
condition_occurrence_condition_concept_id_df

           src_hpo_id  condition_occurrence_condition_concept_id
0            saou_uab                                      100.0
1   trans_am_spectrum                                      100.0
2         cpmc_ceders                                      100.0
3           cpmc_ucsd                                      100.0
4          seec_emory                                      100.0
5               jhchc                                      100.0
6             nec_bmc                                      100.0
7                syhc                                      100.0
8            aouw_mcw                                      100.0
9           ipmc_rush                                      100.0
10               hrhc                                      100.0
11             nyc_hh                                      100.0
12               pitt                                      100.0
13        nyc_cornell                                      100.0
14           seec_ufl                                      100.0
15                chs                                      100.0
16              ecchc                                      100.0
17               chci                                      100.0
18     seec_morehouse                                      100.0
19          tach_hfhs                                      100.0
20        uamc_banner                                        0.2
21             nyc_cu                                       82.5
22           cpmc_ucd                                       83.2
23           aouw_uwh                                       93.8
24            nec_phs                                       97.2
25           cpmc_usc                                       99.2
26            ipmc_nu                                       99.7
27    ipmc_northshore                                       99.8
28          aouw_mcri                                       99.9
29          cpmc_ucsf                                       99.9
30           cpmc_uci                                      100.0
31         seec_miami                                      100.0

#### condition_type_concept_id BY SITE

In [70]:
######################################
print('Getting the data from the database...')
######################################

condition_occurrence_condition_type_concept_id = pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT
                src_hpo_id,
                COUNT(co.person_id) as total_counts
            FROM
               `{}.unioned_ehr_condition_occurrence` AS co
            INNER JOIN
                `{}.concept` AS c
                ON
                    co.condition_type_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                    `{}._mapping_condition_occurrence`)  AS mco
                ON
                    co.condition_occurrence_id=mco.condition_occurrence_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                mco.src_hpo_id,
                COUNT(co.person_id) as missing_counts
            FROM
               `{}.unioned_ehr_condition_occurrence` AS co
            INNER JOIN
                `{}.concept` AS c
                ON
                    co.condition_type_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                    `{}._mapping_condition_occurrence`)  AS mco
                ON
                    co.condition_occurrence_id=mco.condition_occurrence_id
            WHERE
                (co.condition_type_concept_id is null or co.condition_type_concept_id=0) 
            GROUP BY
                1
        )

    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        4
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
condition_occurrence_condition_type_concept_id.shape

print(condition_occurrence_condition_type_concept_id.shape[0], 'records received.')

Getting the data from the database...
32 records received.

In [71]:
condition_occurrence_condition_type_concept_id=condition_occurrence_condition_type_concept_id.rename(columns={"succes_rate":"condition_occurrence_condition_type_concept_id"})
condition_occurrence_condition_type_concept_id=condition_occurrence_condition_type_concept_id[["src_hpo_id","condition_occurrence_condition_type_concept_id"]]
condition_occurrence_condition_type_concept_id=condition_occurrence_condition_type_concept_id.fillna(100)
condition_occurrence_condition_type_concept_id

           src_hpo_id  condition_occurrence_condition_type_concept_id
0     ipmc_northshore                                           100.0
1   trans_am_spectrum                                           100.0
2                hrhc                                           100.0
3              nyc_hh                                           100.0
4               jhchc                                           100.0
5           cpmc_ucsf                                           100.0
6            cpmc_uci                                           100.0
7                chci                                           100.0
8              nyc_cu                                           100.0
9                syhc                                           100.0
10               pitt                                           100.0
11          aouw_mcri                                           100.0
12        nyc_cornell                                           100.0
13           aouw_uwh                                           100.0
14                chs                                           100.0
15          ipmc_rush                                           100.0
16              ecchc                                           100.0
17          tach_hfhs                                           100.0
18        uamc_banner                                             0.0
19         seec_emory                                             0.0
20          cpmc_ucsd                                             0.0
21           cpmc_usc                                             0.0
22         seec_miami                                             0.0
23           saou_uab                                             0.0
24           aouw_mcw                                             0.0
25            nec_bmc                                             0.0
26     seec_morehouse                                            18.9
27            ipmc_nu                                            22.1
28           seec_ufl                                            22.6
29        cpmc_ceders                                            27.1
30           cpmc_ucd                                            82.7
31            nec_phs                                            87.6

### Provider_id

In [72]:
######################################
print('Getting the data from the database...')
######################################

foreign_key_df = pd.io.gbq.read_gbq('''
    SELECT
        co.provider_id,
        COUNT(*) as cnt
    FROM
       `{}.unioned_ehr_condition_occurrence` AS co
    GROUP BY
        1
    ORDER BY
        2
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
foreign_key_df.shape

print(foreign_key_df.shape[0], 'records received.')

Getting the data from the database...
56628 records received.

In [73]:
foreign_key_df.tail()

       provider_id       cnt
56623        998.0    143981
56624       5180.0    179330
56625      14026.0    460137
56626          0.0   1793752
56627          NaN  11286469

### visit_occurrence_id

In [74]:
######################################
print('Getting the data from the database...')
######################################

foreign_key_df = pd.io.gbq.read_gbq('''
    SELECT
        co.visit_occurrence_id,
        COUNT(*) as cnt
    FROM
       `{}.unioned_ehr_condition_occurrence` AS co
    GROUP BY
        1
    ORDER BY
        2
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
foreign_key_df.shape

print(foreign_key_df.shape[0], 'records received.')

Getting the data from the database...
5641625 records received.

In [75]:
foreign_key_df.tail()

         visit_occurrence_id      cnt
5641620         3.400000e+16     2274
5641621         3.400000e+16     2313
5641622         3.400000e+16     2506
5641623         3.400000e+16     3234
5641624                  NaN  2939583

### condition_source_concept_id

In [76]:
######################################
print('Getting the data from the database...')
######################################

foreign_key_df = pd.io.gbq.read_gbq('''
    SELECT
        condition_source_concept_id,
        COUNT(*) as cnt
    FROM
       `{}.unioned_ehr_condition_occurrence` AS co
    GROUP BY
        1
    ORDER BY
        2
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
foreign_key_df.shape

print(foreign_key_df.shape[0], 'records received.')

Getting the data from the database...
67066 records received.

In [77]:
foreign_key_df.tail()

       condition_source_concept_id      cnt
67061                    4274025.0   290974
67062                    4042140.0   321139
67063                     441840.0   493779
67064                          NaN   740371
67065                          0.0  1046584

In [78]:
success_rate=100-round(100*(foreign_key_df.loc[foreign_key_df["condition_source_concept_id"].isnull(),["cnt"]].iloc[0,0]
+foreign_key_df.loc[(foreign_key_df["condition_source_concept_id"]==0),["cnt"]].iloc[0,0])/sum(foreign_key_df.iloc[:,1]),1)
print("success rate for condition_source_concept_id is: ", round(success_rate,1))

success rate for condition_source_concept_id is:  93.7

#### condition_source_concept_id BY SITE

In [79]:
######################################
print('Getting the data from the database...')
######################################

condition_occurrence_condition_source_concept_id = pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT
                src_hpo_id,
                COUNT(co.person_id) as total_counts
            FROM
               `{}.unioned_ehr_condition_occurrence` AS co
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                    `{}._mapping_condition_occurrence`)  AS mco
                ON
                    co.condition_occurrence_id=mco.condition_occurrence_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                mco.src_hpo_id,
                COUNT(co.person_id) as missing_counts
            FROM
               `{}.unioned_ehr_condition_occurrence` AS co
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                    `{}._mapping_condition_occurrence`)  AS mco
                ON
                    co.condition_occurrence_id=mco.condition_occurrence_id
            WHERE
                (co.condition_source_concept_id is null or co.condition_source_concept_id=0) 
            GROUP BY
                1
        )

    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        4
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
condition_occurrence_condition_source_concept_id.shape

print(condition_occurrence_condition_source_concept_id.shape[0], 'records received.')

Getting the data from the database...
32 records received.

In [80]:
condition_occurrence_condition_source_concept_id=condition_occurrence_condition_source_concept_id.rename(columns={"succes_rate":"condition_occurrence_condition_source_concept_id"})
condition_occurrence_condition_source_concept_id=condition_occurrence_condition_source_concept_id[["src_hpo_id","condition_occurrence_condition_source_concept_id"]]
condition_occurrence_condition_source_concept_id=condition_occurrence_condition_source_concept_id.fillna(100)
condition_occurrence_condition_source_concept_id

           src_hpo_id  condition_occurrence_condition_source_concept_id
0            cpmc_uci                                             100.0
1             nec_phs                                             100.0
2                 chs                                             100.0
3           tach_hfhs                                             100.0
4                chci                                             100.0
5               ecchc                                             100.0
6         nyc_cornell                                             100.0
7   trans_am_spectrum                                             100.0
8                syhc                                             100.0
9      seec_morehouse                                             100.0
10          ipmc_rush                                             100.0
11         seec_emory                                             100.0
12          cpmc_ucsd                                             100.0
13              jhchc                                             100.0
14               hrhc                                             100.0
15             nyc_hh                                             100.0
16           aouw_mcw                                             100.0
17        cpmc_ceders                                             100.0
18           saou_uab                                             100.0
19               pitt                                             100.0
20            nec_bmc                                             100.0
21    ipmc_northshore                                               0.0
22          cpmc_ucsf                                              29.1
23             nyc_cu                                              82.5
24           cpmc_ucd                                              83.2
25           aouw_uwh                                              91.8
26            ipmc_nu                                              99.7
27           seec_ufl                                              99.8
28           cpmc_usc                                              99.8
29        uamc_banner                                              99.9
30          aouw_mcri                                              99.9
31         seec_miami                                             100.0

#### condition_status_concept_id BY SITE

In [81]:
######################################
print('Getting the data from the database...')
######################################

condition_occurrence_condition_status_concept_id = pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT
                src_hpo_id,
                COUNT(co.person_id) as total_counts
            FROM
               `{}.unioned_ehr_condition_occurrence` AS co
            INNER JOIN
                `{}.concept` AS c
                ON
                    co.condition_status_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                    `{}._mapping_condition_occurrence`)  AS mco
                ON
                    co.condition_occurrence_id=mco.condition_occurrence_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                mco.src_hpo_id,
                COUNT(co.person_id) as missing_counts
            FROM
               `{}.unioned_ehr_condition_occurrence` AS co
            INNER JOIN
                `{}.concept` AS c
                ON
                    co.condition_status_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                    `{}._mapping_condition_occurrence`)  AS mco
                ON
                    co.condition_occurrence_id=mco.condition_occurrence_id
            WHERE
                (co.condition_status_concept_id is null or co.condition_status_concept_id=0) 
            GROUP BY
                1
        )

    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        4
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
condition_occurrence_condition_status_concept_id.shape

print(condition_occurrence_condition_status_concept_id.shape[0], 'records received.')

Getting the data from the database...
19 records received.

In [82]:
condition_occurrence_condition_status_concept_id=condition_occurrence_condition_status_concept_id.rename(columns={"succes_rate":"condition_occurrence_condition_status_concept_id"})
condition_occurrence_condition_status_concept_id=condition_occurrence_condition_status_concept_id[["src_hpo_id","condition_occurrence_condition_status_concept_id"]]
condition_occurrence_condition_status_concept_id=condition_occurrence_condition_status_concept_id.fillna(100)
condition_occurrence_condition_status_concept_id

           src_hpo_id  condition_occurrence_condition_status_concept_id
0           ipmc_rush                                             100.0
1                 chs                                             100.0
2      seec_morehouse                                             100.0
3             nec_phs                                             100.0
4              nyc_cu                                             100.0
5          seec_emory                                             100.0
6              nyc_hh                                             100.0
7   trans_am_spectrum                                             100.0
8         nyc_cornell                                             100.0
9           tach_hfhs                                               0.0
10           cpmc_usc                                               0.0
11         seec_miami                                               0.0
12           aouw_mcw                                               0.0
13           aouw_uwh                                               0.0
14        uamc_banner                                               0.0
15               syhc                                               0.0
16           seec_ufl                                               4.0
17        cpmc_ceders                                              10.3
18               pitt                                              94.2

## Drug Exposure Table

### person_id

In [83]:
######################################
print('Getting the data from the database...')
######################################

foreign_key_df = pd.io.gbq.read_gbq('''
    SELECT
        COUNT(*) AS total,
        sum(case when (de.person_id is null or de.person_id=0) then 1 else 0 end) as missing
    FROM
       `{}.unioned_ehr_drug_exposure` AS de
    INNER JOIN
        `{}.unioned_ehr_observation` AS o
        ON
            de.person_id=o.person_id
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
foreign_key_df.shape

print(foreign_key_df.shape[0], 'records received.')

Getting the data from the database...
1 records received.

In [84]:
foreign_key_df

        total  missing
0  4738855973        0

In [85]:

print("success rate for person_id is: ",round(100-100*(foreign_key_df.iloc[0,1]/foreign_key_df.iloc[0,0]),1))

success rate for person_id is:  100.0

#### drug_concept_id BY SITE

In [86]:
######################################
print('Getting the data from the database...')
######################################

drug_exposure_drug_concept_id = pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT
                src_hpo_id,
                COUNT(de.person_id) as total_counts
            FROM
               `{}.unioned_ehr_drug_exposure` AS de
            INNER JOIN
                `{}.concept` AS c
                ON
                    de.drug_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_drug_exposure`)  AS mde
                ON
                    de.drug_exposure_id=mde.drug_exposure_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                mde.src_hpo_id,
                COUNT(de.person_id) as missing_counts
            FROM
               `{}.unioned_ehr_drug_exposure` AS de
            INNER JOIN
                `{}.concept` AS c
                ON
                    de.drug_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_drug_exposure`)  AS mde
                ON
                    de.drug_exposure_id=mde.drug_exposure_id
            WHERE
                (de.drug_concept_id is null or de.drug_concept_id=0) 
            GROUP BY
                1
        )

    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        4
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
drug_exposure_drug_concept_id.shape

print(drug_exposure_drug_concept_id.shape[0], 'records received.')

Getting the data from the database...
33 records received.

In [87]:
drug_exposure_drug_concept_id=drug_exposure_drug_concept_id.rename(columns={"succes_rate":"drug_exposure_drug_concept_id"})
drug_exposure_drug_concept_id=drug_exposure_drug_concept_id[["src_hpo_id","drug_exposure_drug_concept_id"]]
drug_exposure_drug_concept_id=drug_exposure_drug_concept_id.fillna(100)
drug_exposure_drug_concept_id

           src_hpo_id  drug_exposure_drug_concept_id
0               ecchc                          100.0
1         nyc_cornell                          100.0
2            aouw_mcw                          100.0
3                hrhc                          100.0
4              nyc_hh                          100.0
5             nec_bmc                          100.0
6         cpmc_ceders                          100.0
7                pitt                          100.0
8               jhchc                          100.0
9   trans_am_spectrum                          100.0
10               chci                          100.0
11               syhc                          100.0
12           cpmc_uci                          100.0
13          ipmc_rush                          100.0
14           saou_uab                          100.0
15     seec_morehouse                            3.7
16           cpmc_ucd                           80.1
17    ipmc_northshore                           85.2
18         seec_miami                           85.3
19        uamc_banner                           85.7
20          tach_hfhs                           90.2
21           ipmc_uic                           92.5
22             nyc_cu                           93.1
23          aouw_mcri                           93.2
24           aouw_uwh                           94.7
25            nec_phs                           94.9
26          cpmc_ucsd                           95.4
27                chs                           96.3
28           cpmc_usc                           97.0
29          cpmc_ucsf                           97.4
30           seec_ufl                           99.6
31            ipmc_nu                           99.9
32         seec_emory                          100.0

#### drug_type_concept_id BY SITE

In [88]:
######################################
print('Getting the data from the database...')
######################################

drug_exposure_drug_type_concept_id = pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT
                src_hpo_id,
                COUNT(de.person_id) as total_counts
            FROM
               `{}.unioned_ehr_drug_exposure` AS de
            INNER JOIN
                `{}.concept` AS c
                ON
                    de.drug_type_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_drug_exposure`)  AS mde
                ON
                    de.drug_exposure_id=mde.drug_exposure_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                mde.src_hpo_id,
                COUNT(de.person_id) as missing_counts
            FROM
               `{}.unioned_ehr_drug_exposure` AS de
            INNER JOIN
                `{}.concept` AS c
                ON
                    de.drug_type_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_drug_exposure`)  AS mde
                ON
                    de.drug_exposure_id=mde.drug_exposure_id
            WHERE
                (de.drug_type_concept_id is null or de.drug_type_concept_id=0) 
            GROUP BY
                1
        )
    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        4
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
drug_exposure_drug_type_concept_id.shape

print(drug_exposure_drug_type_concept_id.shape[0], 'records received.')

Getting the data from the database...
33 records received.

In [89]:
drug_exposure_drug_type_concept_id=drug_exposure_drug_type_concept_id.rename(columns={"succes_rate":"condition_occurrence_drug_type_concept_id"})
drug_exposure_drug_type_concept_id=drug_exposure_drug_type_concept_id[["src_hpo_id","condition_occurrence_drug_type_concept_id"]]
drug_exposure_drug_type_concept_id=drug_exposure_drug_type_concept_id.fillna(100)
drug_exposure_drug_type_concept_id

           src_hpo_id  condition_occurrence_drug_type_concept_id
0                 chs                                      100.0
1                chci                                      100.0
2           tach_hfhs                                      100.0
3            cpmc_uci                                      100.0
4             nec_bmc                                      100.0
5               ecchc                                      100.0
6         nyc_cornell                                      100.0
7           aouw_mcri                                      100.0
8             nec_phs                                      100.0
9            ipmc_uic                                      100.0
10  trans_am_spectrum                                      100.0
11         seec_miami                                      100.0
12           cpmc_ucd                                      100.0
13          ipmc_rush                                      100.0
14               syhc                                      100.0
15               hrhc                                      100.0
16           aouw_mcw                                      100.0
17               pitt                                      100.0
18              jhchc                                      100.0
19          cpmc_ucsd                                      100.0
20        cpmc_ceders                                      100.0
21           cpmc_usc                                        0.0
22     seec_morehouse                                        0.0
23            ipmc_nu                                       27.1
24        uamc_banner                                       38.7
25    ipmc_northshore                                       44.6
26           aouw_uwh                                       98.6
27           seec_ufl                                       99.0
28             nyc_hh                                       99.5
29           saou_uab                                       99.6
30          cpmc_ucsf                                       99.9
31             nyc_cu                                       99.9
32         seec_emory                                      100.0

#### route_concept_id BY SITE

In [90]:
######################################
print('Getting the data from the database...')
######################################

drug_exposure_route_concept_id= pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT
                src_hpo_id,
                COUNT(de.person_id) as total_counts
            FROM
               `{}.unioned_ehr_drug_exposure` AS de
            INNER JOIN
                `{}.concept` AS c
                ON
                    de.route_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_drug_exposure`)  AS mde
                ON
                    de.drug_exposure_id=mde.drug_exposure_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                mde.src_hpo_id,
                COUNT(de.person_id) as missing_counts
            FROM
               `{}.unioned_ehr_drug_exposure` AS de
            INNER JOIN
                `{}.concept` AS c
                ON
                    de.route_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_drug_exposure`)  AS mde
                ON
                    de.drug_exposure_id=mde.drug_exposure_id
            WHERE
                (de.route_concept_id is null or de.route_concept_id=0) 
            GROUP BY
                1
        )
    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        4
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
drug_exposure_route_concept_id.shape

print(drug_exposure_route_concept_id.shape[0], 'records received.')

Getting the data from the database...
27 records received.

In [91]:
drug_exposure_route_concept_id=drug_exposure_route_concept_id.rename(columns={"succes_rate":"drug_exposure_route_concept_id"})
drug_exposure_route_concept_id=drug_exposure_route_concept_id[["src_hpo_id","drug_exposure_route_concept_id"]]
drug_exposure_route_concept_id=drug_exposure_route_concept_id.fillna(100)
drug_exposure_route_concept_id

           src_hpo_id  drug_exposure_route_concept_id
0              nyc_cu                           100.0
1             ipmc_nu                           100.0
2               jhchc                           100.0
3            cpmc_usc                             0.0
4            cpmc_ucd                             0.0
5           ipmc_rush                             0.0
6                syhc                             0.0
7          seec_emory                             0.0
8            saou_uab                             0.0
9                pitt                            17.5
10        nyc_cornell                            18.9
11     seec_morehouse                            24.2
12               hrhc                            36.5
13        uamc_banner                            37.5
14           aouw_mcw                            37.9
15          tach_hfhs                            53.6
16        cpmc_ceders                            55.7
17         seec_miami                            65.6
18    ipmc_northshore                            73.1
19           aouw_uwh                            84.6
20  trans_am_spectrum                            86.1
21          cpmc_ucsd                            88.3
22           ipmc_uic                            89.9
23                chs                            97.7
24             nyc_hh                            98.8
25               chci                            99.7
26           seec_ufl                           100.0

#### provider_id BY SITE

In [92]:
######################################
print('Getting the data from the database...')
######################################

drug_exposure_provider_id = pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT
                src_hpo_id,
                COUNT(de.person_id) as total_counts
            FROM
               `{}.unioned_ehr_drug_exposure` AS de
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_drug_exposure`)  AS mde
                ON
                    de.drug_exposure_id=mde.drug_exposure_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                mde.src_hpo_id,
                COUNT(de.person_id) as missing_counts
            FROM
               `{}.unioned_ehr_drug_exposure` AS de
            INNER JOIN
                (SELECT
                    DISTINCT * 
                    FROM
                     `{}._mapping_drug_exposure`)  AS mde
                ON
                    de.drug_exposure_id=mde.drug_exposure_id
            WHERE
                (de.provider_id is null or de.provider_id=0) 
            GROUP BY
                1
        )
    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        4
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
drug_exposure_provider_id.shape

print(drug_exposure_provider_id.shape[0], 'records received.')

Getting the data from the database...
33 records received.

In [93]:
drug_exposure_provider_id=drug_exposure_provider_id.rename(columns={"succes_rate":"drug_exposure_provider_id"})
drug_exposure_provider_id=drug_exposure_provider_id[["src_hpo_id","drug_exposure_provider_id"]]
drug_exposure_provider_id=drug_exposure_provider_id.fillna(100)
drug_exposure_provider_id

           src_hpo_id  drug_exposure_provider_id
0                 chs                      100.0
1           ipmc_rush                      100.0
2                hrhc                      100.0
3             nec_phs                        0.0
4            cpmc_uci                        0.0
5                chci                        0.0
6              nyc_cu                        0.0
7              nyc_hh                        0.0
8         nyc_cornell                        0.0
9         cpmc_ceders                        0.0
10           saou_uab                        0.0
11              ecchc                        0.0
12         seec_emory                       23.7
13               pitt                       27.2
14           cpmc_ucd                       30.4
15           aouw_uwh                       45.0
16           aouw_mcw                       46.3
17           cpmc_usc                       50.5
18     seec_morehouse                       51.8
19          tach_hfhs                       67.4
20         seec_miami                       81.4
21          aouw_mcri                       82.3
22            ipmc_nu                       82.6
23            nec_bmc                       90.8
24    ipmc_northshore                       92.6
25              jhchc                       94.8
26          cpmc_ucsf                       95.6
27        uamc_banner                       95.7
28           ipmc_uic                       96.8
29  trans_am_spectrum                       98.9
30               syhc                       99.3
31          cpmc_ucsd                       99.5
32           seec_ufl                      100.0

#### visit_occurrence_id BY SITE

In [94]:
######################################
print('Getting the data from the database...')
######################################

drug_exposure_visit_occurrence_id = pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT
                src_hpo_id,
                COUNT(de.person_id) as total_counts
            FROM
               `{}.unioned_ehr_drug_exposure` AS de
            INNER JOIN
                (SELECT
                    DISTINCT * 
                    FROM
                     `{}._mapping_drug_exposure`)  AS mde
                ON
                    de.drug_exposure_id=mde.drug_exposure_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                mde.src_hpo_id,
                COUNT(de.person_id) as missing_counts
            FROM
               `{}.unioned_ehr_drug_exposure` AS de
            INNER JOIN
                (SELECT
                    DISTINCT * 
                    FROM
                     `{}._mapping_drug_exposure`)  AS mde
                ON
                    de.drug_exposure_id=mde.drug_exposure_id
            WHERE
                (de.visit_occurrence_id is null or de.visit_occurrence_id=0) 
            GROUP BY
                1
        )
    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        4
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
drug_exposure_visit_occurrence_id.shape

print(drug_exposure_visit_occurrence_id.shape[0], 'records received.')

Getting the data from the database...
33 records received.

In [95]:
drug_exposure_visit_occurrence_id=drug_exposure_visit_occurrence_id.rename(columns={"succes_rate":"drug_exposure_visit_occurrence_id"})
drug_exposure_visit_occurrence_id=drug_exposure_visit_occurrence_id[["src_hpo_id","drug_exposure_visit_occurrence_id"]]
drug_exposure_visit_occurrence_id=drug_exposure_visit_occurrence_id.fillna(100)
drug_exposure_visit_occurrence_id

           src_hpo_id  drug_exposure_visit_occurrence_id
0           ipmc_rush                              100.0
1           cpmc_ucsf                              100.0
2         uamc_banner                              100.0
3            ipmc_uic                              100.0
4   trans_am_spectrum                              100.0
5            cpmc_usc                              100.0
6                chci                              100.0
7               jhchc                              100.0
8           cpmc_ucsd                              100.0
9                syhc                              100.0
10            nec_phs                              100.0
11            ipmc_nu                              100.0
12           cpmc_ucd                              100.0
13         seec_miami                              100.0
14             nyc_hh                              100.0
15               hrhc                              100.0
16            nec_bmc                              100.0
17          aouw_mcri                              100.0
18           saou_uab                              100.0
19                chs                              100.0
20        cpmc_ceders                                0.0
21        nyc_cornell                                0.0
22               pitt                               14.8
23           aouw_mcw                               46.3
24          tach_hfhs                               53.6
25             nyc_cu                               58.9
26              ecchc                               75.4
27           cpmc_uci                               93.6
28     seec_morehouse                              100.0
29    ipmc_northshore                              100.0
30           seec_ufl                              100.0
31         seec_emory                              100.0
32           aouw_uwh                              100.0

#### drug_source_concept_id BY SITE

In [96]:
######################################
print('Getting the data from the database...')
######################################

drug_exposure_drug_source_concept_id= pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT
                src_hpo_id,
                COUNT(de.person_id) as total_counts
            FROM
               `{}.unioned_ehr_drug_exposure` AS de
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_drug_exposure`)  AS mde
                ON
                    de.drug_exposure_id=mde.drug_exposure_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                mde.src_hpo_id,
                COUNT(de.person_id) as missing_counts
            FROM
               `{}.unioned_ehr_drug_exposure` AS de
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_drug_exposure`)  AS mde
                ON
                    de.drug_exposure_id=mde.drug_exposure_id
            WHERE
                (de.drug_source_concept_id is null or de.drug_source_concept_id=0) 
            GROUP BY
                1
        )
    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        4
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
drug_exposure_drug_source_concept_id.shape

print(drug_exposure_drug_source_concept_id.shape[0], 'records received.')

Getting the data from the database...
33 records received.

In [97]:
drug_exposure_drug_source_concept_id=drug_exposure_drug_source_concept_id.rename(columns={"succes_rate":"drug_exposure_drug_source_concept_id"})
drug_exposure_drug_source_concept_id=drug_exposure_drug_source_concept_id[["src_hpo_id","drug_exposure_drug_source_concept_id"]]
drug_exposure_drug_source_concept_id=drug_exposure_drug_source_concept_id.fillna(100)
drug_exposure_drug_source_concept_id

           src_hpo_id  drug_exposure_drug_source_concept_id
0               ecchc                                 100.0
1                chci                                 100.0
2            seec_ufl                                 100.0
3                pitt                                 100.0
4              nyc_hh                                 100.0
5                hrhc                                 100.0
6         cpmc_ceders                                 100.0
7   trans_am_spectrum                                 100.0
8            cpmc_uci                                 100.0
9         nyc_cornell                                 100.0
10          ipmc_rush                                 100.0
11               syhc                                 100.0
12           saou_uab                                 100.0
13           aouw_mcw                                 100.0
14              jhchc                                 100.0
15            nec_phs                                   0.0
16     seec_morehouse                                   3.7
17            nec_bmc                                   9.2
18             nyc_cu                                  34.4
19          cpmc_ucsf                                  45.6
20          aouw_mcri                                  73.7
21           cpmc_ucd                                  80.2
22    ipmc_northshore                                  85.2
23         seec_miami                                  85.3
24          tach_hfhs                                  90.1
25           ipmc_uic                                  92.5
26           aouw_uwh                                  92.6
27        uamc_banner                                  95.0
28          cpmc_ucsd                                  95.4
29                chs                                  97.2
30           cpmc_usc                                  97.7
31            ipmc_nu                                  99.9
32         seec_emory                                 100.0

## Measurement table

#### measurement_concept_id BY SITE

In [98]:
######################################
print('Getting the data from the database...')
######################################

measurement_measurement_concept_id = pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT 
                src_hpo_id,
                COUNT(me.person_id) as total_counts
            FROM
               `{}.unioned_ehr_measurement` AS me
            INNER JOIN
                `{}.concept` AS c
                ON
                    me.measurement_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_measurement`)  AS mm
                ON
                    me.measurement_id=mm.measurement_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                mm.src_hpo_id,
                COUNT(me.person_id) as missing_counts
            FROM
               `{}.unioned_ehr_measurement` AS me
            INNER JOIN
                `{}.concept` AS c
                ON
                    me.measurement_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_measurement`)  AS mm
                ON
                    me.measurement_id=mm.measurement_id
            WHERE
                (me.measurement_concept_id is null or me.measurement_concept_id=0) 
            GROUP BY
                1
        )

    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        4
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
measurement_measurement_concept_id.shape

print(measurement_measurement_concept_id.shape[0], 'records received.')

Getting the data from the database...
32 records received.

In [99]:
measurement_measurement_concept_id=measurement_measurement_concept_id.rename(columns={"succes_rate":"measurement_measurement_concept_id"})
measurement_measurement_concept_id=measurement_measurement_concept_id[["src_hpo_id","measurement_measurement_concept_id"]]
measurement_measurement_concept_id=measurement_measurement_concept_id.fillna(100)
measurement_measurement_concept_id

           src_hpo_id  measurement_measurement_concept_id
0            aouw_mcw                               100.0
1         cpmc_ceders                               100.0
2             nec_bmc                               100.0
3                pitt                               100.0
4                chci                               100.0
5           cpmc_ucsd                               100.0
6           cpmc_ucsf                               100.0
7            saou_uab                               100.0
8           ipmc_rush                               100.0
9                syhc                               100.0
10             nyc_hh                               100.0
11               hrhc                               100.0
12           cpmc_usc                               100.0
13  trans_am_spectrum                               100.0
14          tach_hfhs                                82.2
15            nec_phs                                86.1
16                chs                                87.7
17              ecchc                                88.5
18             nyc_cu                                88.7
19    ipmc_northshore                                96.0
20           aouw_uwh                                96.2
21     seec_morehouse                                96.3
22            ipmc_nu                                97.1
23           ipmc_uic                                97.8
24         seec_miami                                99.1
25           cpmc_uci                                99.8
26           cpmc_ucd                                99.8
27         seec_emory                                99.9
28           seec_ufl                                99.9
29        uamc_banner                               100.0
30              jhchc                               100.0
31        nyc_cornell                               100.0

#### measurement_type_concept_id BY SITE

In [100]:
######################################
print('Getting the data from the database...')
######################################

measurement_measurement_type_concept_id = pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT 
                src_hpo_id,
                COUNT(me.person_id) as total_counts
            FROM
               `{}.unioned_ehr_measurement` AS me
            INNER JOIN
                `{}.concept` AS c
                ON
                    me.measurement_type_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_measurement`)  AS mm
                ON
                    me.measurement_id=mm.measurement_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                mm.src_hpo_id,
                COUNT(me.person_id) as missing_counts
            FROM
               `{}.unioned_ehr_measurement` AS me
            INNER JOIN
                `{}.concept` AS c
                ON
                    me.measurement_type_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_measurement`)  AS mm
                ON
                    me.measurement_id=mm.measurement_id
            WHERE
                (me.measurement_type_concept_id is null or me.measurement_type_concept_id=0) 
            GROUP BY
                1
        )

    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        4
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
measurement_measurement_type_concept_id.shape

print(measurement_measurement_type_concept_id.shape[0], 'records received.')

Getting the data from the database...
32 records received.

In [101]:
measurement_measurement_type_concept_id=measurement_measurement_type_concept_id.rename(columns={"succes_rate":"measurement_measurement_type_concept_id"})
measurement_measurement_type_concept_id=measurement_measurement_type_concept_id[["src_hpo_id","measurement_measurement_type_concept_id"]]
measurement_measurement_type_concept_id=measurement_measurement_type_concept_id.fillna(100)
measurement_measurement_type_concept_id

           src_hpo_id  measurement_measurement_type_concept_id
0              nyc_hh                                    100.0
1                hrhc                                    100.0
2            cpmc_uci                                    100.0
3         cpmc_ceders                                    100.0
4           cpmc_ucsd                                    100.0
5               jhchc                                    100.0
6           cpmc_ucsf                                    100.0
7                 chs                                    100.0
8         nyc_cornell                                    100.0
9            saou_uab                                    100.0
10            nec_bmc                                    100.0
11             nyc_cu                                    100.0
12           aouw_uwh                                    100.0
13        uamc_banner                                    100.0
14               syhc                                    100.0
15              ecchc                                    100.0
16            nec_phs                                    100.0
17          ipmc_rush                                    100.0
18          tach_hfhs                                    100.0
19           aouw_mcw                                    100.0
20               chci                                    100.0
21  trans_am_spectrum                                    100.0
22           ipmc_uic                                    100.0
23               pitt                                    100.0
24           cpmc_ucd                                    100.0
25           cpmc_usc                                      0.0
26     seec_morehouse                                     39.4
27         seec_miami                                     52.7
28    ipmc_northshore                                     93.9
29            ipmc_nu                                     97.1
30         seec_emory                                     99.5
31           seec_ufl                                    100.0

#### operator_concept_id BY SITE

In [102]:
######################################
print('Getting the data from the database...')
######################################

measurement_operator_concept_id= pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT 
                src_hpo_id,
                COUNT(me.person_id) as total_counts
            FROM
               `{}.unioned_ehr_measurement` AS me
            INNER JOIN
                `{}.concept` AS c
                ON
                    me.operator_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_measurement`)  AS mm
                ON
                    me.measurement_id=mm.measurement_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                mm.src_hpo_id,
                COUNT(me.person_id) as missing_counts
            FROM
               `{}.unioned_ehr_measurement` AS me
            INNER JOIN
                `{}.concept` AS c
                ON
                    me.operator_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_measurement`)  AS mm
                ON
                    me.measurement_id=mm.measurement_id
            WHERE
                (me.operator_concept_id is null or me.operator_concept_id=0) 
            GROUP BY
                1
        )

    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        4
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
measurement_operator_concept_id.shape

print(measurement_operator_concept_id.shape[0], 'records received.')

Getting the data from the database...
28 records received.

In [103]:
measurement_operator_concept_id=measurement_operator_concept_id.rename(columns={"succes_rate":"measurement_operator_concept_id"})
measurement_operator_concept_id=measurement_operator_concept_id[["src_hpo_id","measurement_operator_concept_id"]]
measurement_operator_concept_id=measurement_operator_concept_id.fillna(100)
measurement_operator_concept_id

           src_hpo_id  measurement_operator_concept_id
0          seec_emory                            100.0
1              nyc_cu                            100.0
2           ipmc_rush                            100.0
3          seec_miami                            100.0
4            aouw_uwh                            100.0
5   trans_am_spectrum                            100.0
6            ipmc_uic                            100.0
7            seec_ufl                            100.0
8           cpmc_ucsd                              0.0
9            cpmc_uci                              0.0
10    ipmc_northshore                              0.0
11            nec_bmc                              0.0
12     seec_morehouse                              0.0
13            nec_phs                              0.0
14           saou_uab                              0.0
15        nyc_cornell                              0.0
16               hrhc                              0.0
17               syhc                              0.0
18               pitt                              0.0
19          tach_hfhs                              0.0
20            ipmc_nu                              0.0
21               chci                              0.0
22        cpmc_ceders                              0.0
23        uamc_banner                              0.9
24                chs                             57.9
25           aouw_mcw                             72.6
26              ecchc                             81.3
27             nyc_hh                             89.8

#### value_as_concept_id BY SITE

In [104]:
######################################
print('Getting the data from the database...')
######################################

measurement_value_as_concept_id = pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT 
                src_hpo_id,
                COUNT(me.person_id) as total_counts
            FROM
               `{}.unioned_ehr_measurement` AS me
            INNER JOIN
                `{}.concept` AS c
                ON
                    me.value_as_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_measurement`)  AS mm
                ON
                    me.measurement_id=mm.measurement_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                mm.src_hpo_id,
                COUNT(me.person_id) as missing_counts
            FROM
               `{}.unioned_ehr_measurement` AS me
            INNER JOIN
                `{}.concept` AS c
                ON
                    me.value_as_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_measurement`)  AS mm
                ON
                    me.measurement_id=mm.measurement_id
            WHERE
                (me.value_as_concept_id is null or me.value_as_concept_id=0) 
            GROUP BY
                1
        )

    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        4
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
measurement_value_as_concept_id.shape

print(measurement_value_as_concept_id.shape[0], 'records received.')

Getting the data from the database...
29 records received.

In [105]:
measurement_value_as_concept_id=measurement_value_as_concept_id.rename(columns={"succes_rate":"measurement_value_as_concept_id"})
measurement_value_as_concept_id=measurement_value_as_concept_id[["src_hpo_id","measurement_value_as_concept_id"]]
measurement_value_as_concept_id=measurement_value_as_concept_id.fillna(100)
measurement_value_as_concept_id

           src_hpo_id  measurement_value_as_concept_id
0           cpmc_ucsf                            100.0
1            cpmc_ucd                            100.0
2              nyc_cu                            100.0
3               ecchc                              0.0
4             nec_bmc                              0.0
5            seec_ufl                              0.0
6           ipmc_rush                              0.0
7         cpmc_ceders                              0.0
8            cpmc_usc                              0.0
9         nyc_cornell                              0.0
10               syhc                              0.0
11          cpmc_ucsd                              0.0
12    ipmc_northshore                              0.0
13               pitt                              0.0
14           saou_uab                              0.0
15            nec_phs                              0.0
16               hrhc                              0.0
17               chci                              0.0
18           aouw_mcw                              0.0
19           cpmc_uci                              0.2
20         seec_emory                              0.5
21                chs                              2.8
22        uamc_banner                              2.9
23  trans_am_spectrum                              4.4
24           ipmc_uic                              6.5
25     seec_morehouse                              7.2
26           aouw_uwh                             29.7
27          tach_hfhs                             50.6
28         seec_miami                             88.0

#### unit_concept_id BY SITE

In [106]:
######################################
print('Getting the data from the database...')
######################################

measurement_unit_concept_id = pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT 
                src_hpo_id,
                COUNT(me.person_id) as total_counts
            FROM
               `{}.unioned_ehr_measurement` AS me
            INNER JOIN
                `{}.concept` AS c
                ON
                    me.unit_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_measurement`)  AS mm
                ON
                    me.measurement_id=mm.measurement_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                mm.src_hpo_id,
                COUNT(me.person_id) as missing_counts
            FROM
               `{}.unioned_ehr_measurement` AS me
            INNER JOIN
                `{}.concept` AS c
                ON
                    me.unit_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_measurement`)  AS mm
                ON
                    me.measurement_id=mm.measurement_id
            WHERE
                (me.unit_concept_id is null or me.unit_concept_id=0) 
            GROUP BY
                1
        )

    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        4
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
measurement_unit_concept_id.shape

print(measurement_unit_concept_id.shape[0], 'records received.')

Getting the data from the database...
29 records received.

In [107]:
measurement_unit_concept_id=measurement_unit_concept_id.rename(columns={"succes_rate":"measurement_unit_concept_id"})
measurement_unit_concept_id=measurement_unit_concept_id[["src_hpo_id","measurement_unit_concept_id"]]
measurement_unit_concept_id=measurement_unit_concept_id.fillna(100)
measurement_unit_concept_id

           src_hpo_id  measurement_unit_concept_id
0            aouw_mcw                        100.0
1             ipmc_nu                        100.0
2           cpmc_ucsf                        100.0
3            aouw_uwh                        100.0
4                chci                        100.0
5            cpmc_ucd                        100.0
6            cpmc_uci                          0.0
7            cpmc_usc                          0.0
8           ipmc_rush                          0.0
9             nec_bmc                          0.0
10               syhc                          0.0
11          cpmc_ucsd                          0.0
12        nyc_cornell                          0.0
13            nec_phs                          1.0
14        uamc_banner                          6.5
15           seec_ufl                         23.6
16         seec_miami                         38.5
17         seec_emory                         42.0
18               pitt                         43.3
19     seec_morehouse                         43.5
20          tach_hfhs                         48.7
21              ecchc                         55.3
22    ipmc_northshore                         61.5
23           saou_uab                         76.0
24                chs                         78.3
25        cpmc_ceders                         81.7
26           ipmc_uic                         88.5
27  trans_am_spectrum                         92.8
28             nyc_cu                         99.4

#### provider_id BY SITE

In [108]:
######################################
print('Getting the data from the database...')
######################################

measurement_provider_id = pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT 
                src_hpo_id,
                COUNT(me.person_id) as total_counts
            FROM
               `{}.unioned_ehr_measurement` AS me
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_measurement`)  AS mm
                ON
                    me.measurement_id=mm.measurement_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                mm.src_hpo_id,
                COUNT(me.person_id) as missing_counts
            FROM
               `{}.unioned_ehr_measurement` AS me
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_measurement`)  AS mm
                ON
                    me.measurement_id=mm.measurement_id
            WHERE
                (me.provider_id is null or me.provider_id=0) 
            GROUP BY
                1
        )

    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        3
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
measurement_provider_id.shape

print(measurement_provider_id.shape[0], 'records received.')

Getting the data from the database...
32 records received.

In [109]:
measurement_provider_id=measurement_provider_id.rename(columns={"succes_rate":"measurement_provider_id"})
measurement_provider_id=measurement_provider_id[["src_hpo_id","measurement_provider_id"]]
measurement_provider_id=measurement_provider_id.fillna(100)
measurement_provider_id

           src_hpo_id  measurement_provider_id
0              nyc_hh                      0.0
1      seec_morehouse                     98.9
2                hrhc                    100.0
3               ecchc                      0.0
4               jhchc                     96.5
5          seec_emory                     14.5
6           ipmc_rush                      0.0
7                 chs                    100.0
8                chci                      0.0
9         cpmc_ceders                      0.0
10            nec_bmc                     39.0
11               syhc                      0.0
12           aouw_mcw                      0.0
13           aouw_uwh                     77.5
14          cpmc_ucsd                      0.0
15          cpmc_ucsf                     42.2
16    ipmc_northshore                     84.1
17           seec_ufl                     35.8
18         seec_miami                     90.2
19  trans_am_spectrum                     98.6
20           cpmc_usc                      0.3
21            ipmc_nu                     31.1
22           cpmc_ucd                     60.9
23          tach_hfhs                     50.6
24           saou_uab                      0.0
25           cpmc_uci                      0.0
26            nec_phs                      0.0
27           ipmc_uic                    100.0
28        nyc_cornell                      0.0
29               pitt                     34.6
30             nyc_cu                      0.0
31        uamc_banner                      6.2

#### visit_occurrence_id BY SITE

In [110]:
######################################
print('Getting the data from the database...')
######################################

measurement_visit_occurrence_id = pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT 
                src_hpo_id,
                COUNT(me.person_id) as total_counts
            FROM
               `{}.unioned_ehr_measurement` AS me
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_measurement`)  AS mm
                ON
                    me.measurement_id=mm.measurement_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                mm.src_hpo_id,
                COUNT(me.person_id) as missing_counts
            FROM
               `{}.unioned_ehr_measurement` AS me
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_measurement`)  AS mm
                ON
                    me.measurement_id=mm.measurement_id
            WHERE
                (me.visit_occurrence_id is null or me.visit_occurrence_id=0) 
            GROUP BY
                1
        )

    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        3
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
measurement_visit_occurrence_id.shape

print(measurement_visit_occurrence_id.shape[0], 'records received.')

Getting the data from the database...
32 records received.

In [111]:
measurement_visit_occurrence_id=measurement_visit_occurrence_id.rename(columns={"succes_rate":"measurement_visit_occurrence_id"})
measurement_visit_occurrence_id=measurement_visit_occurrence_id[["src_hpo_id","measurement_visit_occurrence_id"]]
measurement_visit_occurrence_id=measurement_visit_occurrence_id.fillna(100)
measurement_visit_occurrence_id

           src_hpo_id  measurement_visit_occurrence_id
0              nyc_hh                             95.2
1      seec_morehouse                            100.0
2                hrhc                            100.0
3               ecchc                              0.2
4               jhchc                            100.0
5          seec_emory                            100.0
6           ipmc_rush                            100.0
7                 chs                            100.0
8                chci                            100.0
9         cpmc_ceders                              0.0
10            nec_bmc                            100.0
11               syhc                              0.0
12           aouw_mcw                            100.0
13           aouw_uwh                            100.0
14          cpmc_ucsd                             97.6
15          cpmc_ucsf                            100.0
16    ipmc_northshore                            100.0
17           seec_ufl                             98.5
18         seec_miami                             99.7
19  trans_am_spectrum                            100.0
20           cpmc_usc                            100.0
21            ipmc_nu                            100.0
22           cpmc_ucd                            100.0
23          tach_hfhs                             44.1
24           saou_uab                            100.0
25           cpmc_uci                             95.0
26            nec_phs                            100.0
27           ipmc_uic                            100.0
28        nyc_cornell                              0.0
29               pitt                             52.8
30             nyc_cu                             64.6
31        uamc_banner                             99.5

#### measurement_source_concept_id BY SITE

In [112]:
######################################
print('Getting the data from the database...')
######################################

measurement_measurement_source_concept_id= pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT 
                src_hpo_id,
                COUNT(me.person_id) as total_counts
            FROM
               `{}.unioned_ehr_measurement` AS me
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_measurement`)  AS mm
                ON
                    me.measurement_id=mm.measurement_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                mm.src_hpo_id,
                COUNT(me.person_id) as missing_counts
            FROM
               `{}.unioned_ehr_measurement` AS me
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_measurement`)  AS mm
                ON
                    me.measurement_id=mm.measurement_id
            WHERE
                (me.measurement_source_concept_id is null or me.measurement_source_concept_id=0) 
            GROUP BY
                1
        )

    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        3
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
measurement_measurement_source_concept_id.shape

print(measurement_measurement_source_concept_id.shape[0], 'records received.')

Getting the data from the database...
32 records received.

In [113]:
measurement_measurement_source_concept_id=measurement_measurement_source_concept_id.rename(columns={"succes_rate":"measurement_measurement_source_concept_id"})
measurement_measurement_source_concept_id=measurement_measurement_source_concept_id[["src_hpo_id","measurement_measurement_source_concept_id"]]
measurement_measurement_source_concept_id=measurement_measurement_source_concept_id.fillna(100)
measurement_measurement_source_concept_id

           src_hpo_id  measurement_measurement_source_concept_id
0              nyc_hh                                      100.0
1      seec_morehouse                                       96.3
2                hrhc                                      100.0
3               ecchc                                       88.5
4               jhchc                                      100.0
5          seec_emory                                       99.9
6           ipmc_rush                                      100.0
7                 chs                                       87.7
8                chci                                      100.0
9         cpmc_ceders                                      100.0
10            nec_bmc                                      100.0
11               syhc                                      100.0
12           aouw_mcw                                      100.0
13           aouw_uwh                                       14.5
14          cpmc_ucsd                                        0.0
15          cpmc_ucsf                                        0.0
16    ipmc_northshore                                       13.6
17           seec_ufl                                      100.0
18         seec_miami                                       99.1
19  trans_am_spectrum                                        0.0
20           cpmc_usc                                      100.0
21            ipmc_nu                                        0.4
22           cpmc_ucd                                      100.0
23          tach_hfhs                                       82.2
24           saou_uab                                      100.0
25           cpmc_uci                                      100.0
26            nec_phs                                       86.1
27           ipmc_uic                                       97.8
28        nyc_cornell                                       91.0
29               pitt                                      100.0
30             nyc_cu                                        1.8
31        uamc_banner                                       93.5

## Procedure Occurrence

#### procedure_concept_id BY SITE

In [114]:
######################################
print('Getting the data from the database...')
######################################

procedure_occurrence_procedure_concept_id = pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT 
                src_hpo_id,
                COUNT(t1.person_id) as total_counts
            FROM
                `{}.unioned_ehr_procedure_occurrence` AS t1
            INNER JOIN
                `{}.concept` AS c
                ON
                    t1.procedure_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_procedure_occurrence`)  AS t2
                ON
                    t1.procedure_occurrence_id=t2.procedure_occurrence_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                t2.src_hpo_id,
                COUNT(t1.person_id) as missing_counts
            FROM
                `{}.unioned_ehr_procedure_occurrence` AS t1
            INNER JOIN
                `{}.concept` AS c
                ON
                    t1.procedure_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_procedure_occurrence`)  AS t2
                ON
                    t1.procedure_occurrence_id=t2.procedure_occurrence_id
            WHERE
                (t1.procedure_concept_id is null or t1.procedure_concept_id=0) 
            GROUP BY
                1
        )

    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        4
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
procedure_occurrence_procedure_concept_id.shape

print(procedure_occurrence_procedure_concept_id.shape[0], 'records received.')

Getting the data from the database...
32 records received.

In [115]:
procedure_occurrence_procedure_concept_id=procedure_occurrence_procedure_concept_id.rename(columns={"succes_rate":"procedure_occurrence_procedure_concept_id"})
procedure_occurrence_procedure_concept_id=procedure_occurrence_procedure_concept_id[["src_hpo_id","procedure_occurrence_procedure_concept_id"]]
procedure_occurrence_procedure_concept_id=procedure_occurrence_procedure_concept_id.fillna(100)
procedure_occurrence_procedure_concept_id

           src_hpo_id  procedure_occurrence_procedure_concept_id
0            cpmc_uci                                      100.0
1             nec_bmc                                      100.0
2            aouw_mcw                                      100.0
3            seec_ufl                                      100.0
4           ipmc_rush                                      100.0
5     ipmc_northshore                                      100.0
6                pitt                                      100.0
7   trans_am_spectrum                                      100.0
8                 chs                                      100.0
9                hrhc                                      100.0
10             nyc_hh                                      100.0
11               chci                                      100.0
12               syhc                                      100.0
13           saou_uab                                      100.0
14        cpmc_ceders                                      100.0
15          cpmc_ucsd                                      100.0
16              jhchc                                      100.0
17              ecchc                                      100.0
18           cpmc_ucd                                       16.1
19        uamc_banner                                       43.0
20     seec_morehouse                                       52.6
21           aouw_uwh                                       77.2
22             nyc_cu                                       78.7
23        nyc_cornell                                       82.0
24          aouw_mcri                                       95.2
25            ipmc_nu                                       98.7
26            nec_phs                                       99.5
27         seec_miami                                       99.7
28          cpmc_ucsf                                       99.9
29           ipmc_uic                                      100.0
30           cpmc_usc                                      100.0
31         seec_emory                                      100.0

#### procedure_type_concept_id BY SITE

In [116]:
######################################
print('Getting the data from the database...')
######################################

procedure_occurrence_procedure_type_concept_id = pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT 
                src_hpo_id,
                COUNT(t1.person_id) as total_counts
            FROM
                `{}.unioned_ehr_procedure_occurrence` AS t1
            INNER JOIN
                `{}.concept` AS c
                ON
                    t1.procedure_type_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_procedure_occurrence`)  AS t2
                ON
                    t1.procedure_occurrence_id=t2.procedure_occurrence_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                t2.src_hpo_id,
                COUNT(t1.person_id) as missing_counts
            FROM
                `{}.unioned_ehr_procedure_occurrence` AS t1
            INNER JOIN
                `{}.concept` AS c
                ON
                    t1.procedure_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_procedure_occurrence`)  AS t2
                ON
                    t1.procedure_occurrence_id=t2.procedure_occurrence_id
            WHERE
                (t1.procedure_type_concept_id is null or t1.procedure_type_concept_id=0) 
            GROUP BY
                1
        )

    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        4
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
procedure_occurrence_procedure_type_concept_id.shape

print(procedure_occurrence_procedure_type_concept_id.shape[0], 'records received.')

Getting the data from the database...
32 records received.

In [117]:
procedure_occurrence_procedure_type_concept_id=procedure_occurrence_procedure_type_concept_id.rename(columns={"succes_rate":"procedure_occurrence_procedure_type_concept_id"})
procedure_occurrence_procedure_type_concept_id=procedure_occurrence_procedure_type_concept_id[["src_hpo_id","procedure_occurrence_procedure_type_concept_id"]]
procedure_occurrence_procedure_type_concept_id=procedure_occurrence_procedure_type_concept_id.fillna(100)
procedure_occurrence_procedure_type_concept_id

           src_hpo_id  procedure_occurrence_procedure_type_concept_id
0     ipmc_northshore                                           100.0
1               ecchc                                           100.0
2              nyc_cu                                           100.0
3                 chs                                           100.0
4               jhchc                                           100.0
5           aouw_mcri                                           100.0
6                syhc                                           100.0
7         nyc_cornell                                           100.0
8              nyc_hh                                           100.0
9                hrhc                                           100.0
10               pitt                                           100.0
11           ipmc_uic                                             0.0
12  trans_am_spectrum                                             0.0
13           saou_uab                                             0.0
14          cpmc_ucsd                                             0.0
15         seec_emory                                             0.0
16           aouw_mcw                                             0.0
17            ipmc_nu                                             0.0
18         seec_miami                                             0.0
19           cpmc_usc                                             0.0
20            nec_bmc                                             0.0
21          ipmc_rush                                             0.0
22           seec_ufl                                             0.1
23     seec_morehouse                                             1.2
24        uamc_banner                                             7.4
25        cpmc_ceders                                            10.1
26           cpmc_uci                                            70.9
27           cpmc_ucd                                            75.8
28          cpmc_ucsf                                            81.6
29               chci                                            85.9
30           aouw_uwh                                            87.2
31            nec_phs                                            93.0

#### modifier_concept_id BY SITE

In [118]:
######################################
print('Getting the data from the database...')
######################################

procedure_occurrence_modifier_concept_id = pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT 
                src_hpo_id,
                COUNT(t1.person_id) as total_counts
            FROM
                `{}.unioned_ehr_procedure_occurrence` AS t1
            INNER JOIN
                `{}.concept` AS c
                ON
                    t1.modifier_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_procedure_occurrence`)  AS t2
                ON
                    t1.procedure_occurrence_id=t2.procedure_occurrence_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                t2.src_hpo_id,
                COUNT(t1.person_id) as missing_counts
            FROM
                `{}.unioned_ehr_procedure_occurrence` AS t1
            INNER JOIN
                `{}.concept` AS c
                ON
                    t1.modifier_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_procedure_occurrence`)  AS t2
                ON
                    t1.procedure_occurrence_id=t2.procedure_occurrence_id
            WHERE
                (t1.modifier_concept_id is null or t1.modifier_concept_id=0) 
            GROUP BY
                1
        )

    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        4
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
procedure_occurrence_modifier_concept_id.shape

print(procedure_occurrence_modifier_concept_id.shape[0], 'records received.')

Getting the data from the database...
26 records received.

In [119]:
procedure_occurrence_modifier_concept_id=procedure_occurrence_modifier_concept_id.rename(columns={"succes_rate":"procedure_occurrence_modifier_concept_id"})
procedure_occurrence_modifier_concept_id=procedure_occurrence_modifier_concept_id[["src_hpo_id","procedure_occurrence_modifier_concept_id"]]
procedure_occurrence_modifier_concept_id=procedure_occurrence_modifier_concept_id.fillna(100)
procedure_occurrence_modifier_concept_id

           src_hpo_id  procedure_occurrence_modifier_concept_id
0              nyc_cu                                     100.0
1           cpmc_ucsf                                     100.0
2         cpmc_ceders                                     100.0
3            cpmc_uci                                       0.0
4            ipmc_uic                                       0.0
5             nec_bmc                                       0.0
6                chci                                       0.0
7     ipmc_northshore                                       0.0
8         uamc_banner                                       0.0
9               ecchc                                       0.0
10        nyc_cornell                                       0.0
11           saou_uab                                       0.0
12               pitt                                       0.0
13     seec_morehouse                                       0.0
14          cpmc_ucsd                                       0.0
15          ipmc_rush                                       0.0
16           aouw_mcw                                       0.0
17            ipmc_nu                                       0.0
18               syhc                                       0.0
19               hrhc                                       0.0
20             nyc_hh                                       0.0
21            nec_phs                                       0.0
22           cpmc_usc                                       0.0
23  trans_am_spectrum                                       4.6
24                chs                                      10.4
25           cpmc_ucd                                      98.8

#### provider_id BY SITE

In [120]:
######################################
print('Getting the data from the database...')
######################################

procedure_occurrence_provider_id = pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT 
                src_hpo_id,
                COUNT(t1.person_id) as total_counts
            FROM
                `{}.unioned_ehr_procedure_occurrence` AS t1
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_procedure_occurrence`)  AS t2
                ON
                    t1.procedure_occurrence_id=t2.procedure_occurrence_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                t2.src_hpo_id,
                COUNT(t1.person_id) as missing_counts
            FROM
                `{}.unioned_ehr_procedure_occurrence` AS t1
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_procedure_occurrence`)  AS t2
                ON
                    t1.procedure_occurrence_id=t2.procedure_occurrence_id
            WHERE
                (t1.provider_id is null or t1.provider_id=0) 
            GROUP BY
                1
        )

    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        4
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
procedure_occurrence_provider_id.shape

print(procedure_occurrence_provider_id.shape[0], 'records received.')

Getting the data from the database...
32 records received.

In [121]:
procedure_occurrence_provider_id=procedure_occurrence_provider_id.rename(columns={"succes_rate":"procedure_occurrence_provider_id"})
procedure_occurrence_provider_id=procedure_occurrence_provider_id[["src_hpo_id","procedure_occurrence_provider_id"]]
procedure_occurrence_provider_id=procedure_occurrence_provider_id.fillna(100)
procedure_occurrence_provider_id

           src_hpo_id  procedure_occurrence_provider_id
0            aouw_mcw                             100.0
1                hrhc                             100.0
2             nec_phs                               0.0
3                chci                               0.0
4               ecchc                               0.0
5           ipmc_rush                               0.0
6         nyc_cornell                               0.0
7            saou_uab                               0.0
8            cpmc_uci                               0.0
9           cpmc_ucsd                               0.0
10             nyc_hh                               0.0
11        cpmc_ceders                               0.0
12            nec_bmc                               0.1
13           cpmc_usc                               5.3
14         seec_emory                              19.0
15     seec_morehouse                              30.2
16           aouw_uwh                              31.2
17             nyc_cu                              31.7
18        uamc_banner                              69.9
19          cpmc_ucsf                              74.8
20           seec_ufl                              83.1
21            ipmc_nu                              87.1
22               syhc                              91.1
23               pitt                              94.7
24              jhchc                              97.1
25  trans_am_spectrum                              98.0
26           cpmc_ucd                              98.6
27                chs                             100.0
28          aouw_mcri                             100.0
29           ipmc_uic                             100.0
30         seec_miami                             100.0
31    ipmc_northshore                             100.0

#### visit_occurrence_id BY SITE

In [122]:
######################################
print('Getting the data from the database...')
######################################

procedure_occurrence_visit_occurrence_id = pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT 
                src_hpo_id,
                COUNT(t1.person_id) as total_counts
            FROM
                `{}.unioned_ehr_procedure_occurrence` AS t1
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_procedure_occurrence`)  AS t2
                ON
                    t1.procedure_occurrence_id=t2.procedure_occurrence_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                t2.src_hpo_id,
                COUNT(t1.person_id) as missing_counts
            FROM
                `{}.unioned_ehr_procedure_occurrence` AS t1
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_procedure_occurrence`)  AS t2
                ON
                    t1.procedure_occurrence_id=t2.procedure_occurrence_id
            WHERE
                (t1.visit_occurrence_id is null or t1.visit_occurrence_id=0) 
            GROUP BY
                1
        )

    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        4
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
procedure_occurrence_visit_occurrence_id.shape

print(procedure_occurrence_visit_occurrence_id.shape[0], 'records received.')

Getting the data from the database...
32 records received.

In [123]:
procedure_occurrence_visit_occurrence_id=procedure_occurrence_visit_occurrence_id.rename(columns={"succes_rate":"procedure_occurrence_visit_occurrence_id"})
procedure_occurrence_visit_occurrence_id=procedure_occurrence_visit_occurrence_id[["src_hpo_id","procedure_occurrence_visit_occurrence_id"]]
procedure_occurrence_visit_occurrence_id=procedure_occurrence_visit_occurrence_id.fillna(100)
procedure_occurrence_visit_occurrence_id

           src_hpo_id  procedure_occurrence_visit_occurrence_id
0     ipmc_northshore                                     100.0
1                chci                                     100.0
2             nec_phs                                     100.0
3                 chs                                     100.0
4           cpmc_ucsf                                     100.0
5             nec_bmc                                     100.0
6           cpmc_ucsd                                     100.0
7          seec_emory                                     100.0
8               jhchc                                     100.0
9              nyc_hh                                     100.0
10               hrhc                                     100.0
11           ipmc_uic                                     100.0
12  trans_am_spectrum                                     100.0
13           aouw_mcw                                     100.0
14               syhc                                     100.0
15          aouw_mcri                                     100.0
16           cpmc_ucd                                     100.0
17           cpmc_usc                                     100.0
18        uamc_banner                                     100.0
19     seec_morehouse                                     100.0
20            ipmc_nu                                     100.0
21          ipmc_rush                                     100.0
22              ecchc                                     100.0
23           saou_uab                                     100.0
24        nyc_cornell                                       0.0
25        cpmc_ceders                                       0.0
26             nyc_cu                                      57.5
27               pitt                                      65.1
28           cpmc_uci                                      85.7
29           seec_ufl                                      94.3
30         seec_miami                                      94.5
31           aouw_uwh                                     100.0

#### procedure_source_concept_id BY SITE

In [124]:
######################################
print('Getting the data from the database...')
######################################

procedure_occurrence_procedure_source_concept_id= pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT 
                src_hpo_id,
                COUNT(t1.person_id) as total_counts
            FROM
                `{}.unioned_ehr_procedure_occurrence` AS t1
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_procedure_occurrence`)  AS t2
                ON
                    t1.procedure_occurrence_id=t2.procedure_occurrence_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                t2.src_hpo_id,
                COUNT(t1.person_id) as missing_counts
            FROM
                `{}.unioned_ehr_procedure_occurrence` AS t1
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_procedure_occurrence`)  AS t2
                ON
                    t1.procedure_occurrence_id=t2.procedure_occurrence_id
            WHERE
                (t1.procedure_source_concept_id is null or t1.procedure_source_concept_id=0) 
            GROUP BY
                1
        )

    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        4
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
procedure_occurrence_procedure_source_concept_id.shape

print(procedure_occurrence_procedure_source_concept_id.shape[0], 'records received.')

Getting the data from the database...
32 records received.

In [125]:
procedure_occurrence_procedure_source_concept_id=procedure_occurrence_procedure_source_concept_id.rename(columns={"succes_rate":"procedure_occurrence_procedure_source_concept_id"})
procedure_occurrence_procedure_source_concept_id=procedure_occurrence_procedure_source_concept_id[["src_hpo_id","procedure_occurrence_procedure_source_concept_id"]]
procedure_occurrence_procedure_source_concept_id=procedure_occurrence_procedure_source_concept_id.fillna(100)
procedure_occurrence_procedure_source_concept_id

           src_hpo_id  procedure_occurrence_procedure_source_concept_id
0               jhchc                                             100.0
1            seec_ufl                                             100.0
2                syhc                                             100.0
3            saou_uab                                             100.0
4            ipmc_uic                                             100.0
5   trans_am_spectrum                                             100.0
6             nec_phs                                             100.0
7         cpmc_ceders                                             100.0
8                pitt                                             100.0
9            aouw_mcw                                             100.0
10               hrhc                                             100.0
11             nyc_hh                                             100.0
12               chci                                             100.0
13                chs                                             100.0
14              ecchc                                             100.0
15          ipmc_rush                                             100.0
16            nec_bmc                                             100.0
17           cpmc_uci                                             100.0
18          cpmc_ucsd                                               0.0
19          cpmc_ucsf                                               6.6
20           aouw_uwh                                              17.8
21        uamc_banner                                              32.4
22     seec_morehouse                                              52.6
23             nyc_cu                                              78.8
24        nyc_cornell                                              84.0
25          aouw_mcri                                              95.2
26    ipmc_northshore                                              95.6
27            ipmc_nu                                              98.7
28         seec_miami                                              99.7
29           cpmc_ucd                                              99.8
30         seec_emory                                             100.0
31           cpmc_usc                                             100.0

## Device Exposure

#### device_concept_id BY SITE

In [126]:
######################################
print('Getting the data from the database...')
######################################

device_exposure_device_concept_id = pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT 
                src_hpo_id,
                COUNT(t1.person_id) as total_counts
            FROM
                `{}.unioned_ehr_device_exposure` AS t1
            INNER JOIN
                `{}.concept` AS c
                ON
                    t1.device_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_device_exposure`)  AS t2
                ON
                    t1.device_exposure_id=t2.device_exposure_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                t2.src_hpo_id,
                COUNT(t1.person_id) as missing_counts
            FROM
                `{}.unioned_ehr_device_exposure` AS t1
            INNER JOIN
                `{}.concept` AS c
                ON
                    t1.device_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_device_exposure`)  AS t2
                ON
                    t1.device_exposure_id=t2.device_exposure_id
            WHERE
                (t1.device_concept_id is null or t1.device_concept_id=0) 
            GROUP BY
                1
        )

    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        4
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
device_exposure_device_concept_id.shape

print(device_exposure_device_concept_id.shape[0], 'records received.')

Getting the data from the database...
21 records received.

In [127]:
device_exposure_device_concept_id=device_exposure_device_concept_id.rename(columns={"succes_rate":"device_exposure_device_concept_id"})
device_exposure_device_concept_id=device_exposure_device_concept_id[["src_hpo_id","device_exposure_device_concept_id"]]
device_exposure_device_concept_id=device_exposure_device_concept_id.fillna(100)
device_exposure_device_concept_id

           src_hpo_id  device_exposure_device_concept_id
0           tach_hfhs                              100.0
1            cpmc_uci                              100.0
2                 chs                              100.0
3            aouw_mcw                              100.0
4         nyc_cornell                              100.0
5               ecchc                              100.0
6               jhchc                              100.0
7                syhc                              100.0
8            cpmc_usc                              100.0
9                pitt                              100.0
10           saou_uab                              100.0
11          aouw_mcri                              100.0
12        cpmc_ceders                              100.0
13  trans_am_spectrum                              100.0
14     seec_morehouse                                0.0
15         seec_miami                                0.0
16               hrhc                                0.0
17           aouw_uwh                               39.5
18        uamc_banner                               86.5
19           ipmc_uic                               89.6
20             nyc_cu                               99.0

#### device_type_concept_id BY SITE

In [128]:
######################################
print('Getting the data from the database...')
######################################

device_exposure_device_type_concept_id = pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT 
                src_hpo_id,
                COUNT(t1.person_id) as total_counts
            FROM
                `{}.unioned_ehr_device_exposure` AS t1
            INNER JOIN
                `{}.concept` AS c
                ON
                    t1.device_type_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_device_exposure`)  AS t2
                ON
                    t1.device_exposure_id=t2.device_exposure_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                t2.src_hpo_id,
                COUNT(t1.person_id) as missing_counts
            FROM
                `{}.unioned_ehr_device_exposure` AS t1
            INNER JOIN
                `{}.concept` AS c
                ON
                    t1.device_type_concept_id=c.concept_id
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_device_exposure`)  AS t2
                ON
                    t1.device_exposure_id=t2.device_exposure_id
            WHERE
                (t1.device_type_concept_id is null or t1.device_type_concept_id=0) 
            GROUP BY
                1
        )

    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        4
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
device_exposure_device_type_concept_id.shape

print(device_exposure_device_type_concept_id.shape[0], 'records received.')

Getting the data from the database...
21 records received.

In [129]:
device_exposure_device_type_concept_id=device_exposure_device_type_concept_id.rename(columns={"succes_rate":"device_exposure_device_type_concept_id"})
device_exposure_device_type_concept_id=device_exposure_device_type_concept_id[["src_hpo_id","device_exposure_device_type_concept_id"]]
device_exposure_device_type_concept_id=device_exposure_device_type_concept_id.fillna(100)
device_exposure_device_type_concept_id

           src_hpo_id  device_exposure_device_type_concept_id
0              nyc_cu                                   100.0
1         cpmc_ceders                                   100.0
2                syhc                                   100.0
3            ipmc_uic                                   100.0
4   trans_am_spectrum                                   100.0
5           tach_hfhs                                   100.0
6           aouw_mcri                                   100.0
7               jhchc                                   100.0
8            saou_uab                                   100.0
9            aouw_uwh                                   100.0
10                chs                                   100.0
11        nyc_cornell                                   100.0
12               pitt                                   100.0
13              ecchc                                   100.0
14           aouw_mcw                                   100.0
15           cpmc_uci                                   100.0
16         seec_miami                                     0.0
17     seec_morehouse                                     0.0
18           cpmc_usc                                     0.0
19               hrhc                                     0.0
20        uamc_banner                                    56.1

#### provider_id BY SITE

In [130]:
######################################
print('Getting the data from the database...')
######################################

device_exposure_provider_id = pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT 
                src_hpo_id,
                COUNT(t1.person_id) as total_counts
            FROM
                `{}.unioned_ehr_device_exposure` AS t1
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_device_exposure`)  AS t2
                ON
                    t1.device_exposure_id=t2.device_exposure_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                t2.src_hpo_id,
                COUNT(t1.person_id) as missing_counts
            FROM
                `{}.unioned_ehr_device_exposure` AS t1
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_device_exposure`)  AS t2
                ON
                    t1.device_exposure_id=t2.device_exposure_id
            WHERE
                (t1.provider_id is null or t1.provider_id=0) 
            GROUP BY
                1
        )

    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        4
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
device_exposure_provider_id.shape

print(device_exposure_provider_id.shape[0], 'records received.')

Getting the data from the database...
21 records received.

In [131]:
device_exposure_provider_id=device_exposure_provider_id.rename(columns={"succes_rate":"device_exposure_provider_id"})
device_exposure_provider_id=device_exposure_provider_id[["src_hpo_id","device_exposure_provider_id"]]
device_exposure_provider_id=device_exposure_provider_id.fillna(100)
device_exposure_provider_id

           src_hpo_id  device_exposure_provider_id
0                hrhc                        100.0
1   trans_am_spectrum                        100.0
2            ipmc_uic                        100.0
3           aouw_mcri                        100.0
4                 chs                        100.0
5            cpmc_usc                          0.0
6              nyc_cu                          0.0
7               ecchc                          0.0
8            cpmc_uci                          0.0
9            saou_uab                          0.0
10        nyc_cornell                          0.0
11     seec_morehouse                          3.5
12           aouw_mcw                         41.2
13           aouw_uwh                         62.4
14               pitt                         70.9
15               syhc                         83.2
16              jhchc                         91.9
17        cpmc_ceders                         93.1
18        uamc_banner                         94.6
19         seec_miami                         96.9
20          tach_hfhs                         99.1

#### visit_occurrence_id BY SITE

In [132]:
######################################
print('Getting the data from the database...')
######################################

device_exposure_visit_occurrence_id = pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT 
                src_hpo_id,
                COUNT(t1.person_id) as total_counts
            FROM
                `{}.unioned_ehr_device_exposure` AS t1
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_device_exposure`)  AS t2
                ON
                    t1.device_exposure_id=t2.device_exposure_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                t2.src_hpo_id,
                COUNT(t1.person_id) as missing_counts
            FROM
                `{}.unioned_ehr_device_exposure` AS t1
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_device_exposure`)  AS t2
                ON
                    t1.device_exposure_id=t2.device_exposure_id
            WHERE
                (t1.visit_occurrence_id is null or t1.visit_occurrence_id=0) 
            GROUP BY
                1
        )

    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    ORDER BY
        4
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
device_exposure_visit_occurrence_id.shape

print(device_exposure_visit_occurrence_id.shape[0], 'records received.')

Getting the data from the database...
21 records received.

In [133]:
device_exposure_visit_occurrence_id=device_exposure_visit_occurrence_id.rename(columns={"succes_rate":"device_exposure_visit_occurrence_id"})
device_exposure_visit_occurrence_id=device_exposure_visit_occurrence_id[["src_hpo_id","device_exposure_visit_occurrence_id"]]
device_exposure_visit_occurrence_id=device_exposure_visit_occurrence_id.fillna(100)
device_exposure_visit_occurrence_id

           src_hpo_id  device_exposure_visit_occurrence_id
0           tach_hfhs                                100.0
1               jhchc                                100.0
2      seec_morehouse                                100.0
3            aouw_mcw                                100.0
4                syhc                                100.0
5                hrhc                                100.0
6            cpmc_usc                                100.0
7   trans_am_spectrum                                100.0
8            ipmc_uic                                100.0
9            saou_uab                                100.0
10                chs                                100.0
11          aouw_mcri                                100.0
12        cpmc_ceders                                  0.0
13        nyc_cornell                                  0.0
14              ecchc                                  0.0
15        uamc_banner                                 38.0
16               pitt                                 71.0
17             nyc_cu                                 93.4
18         seec_miami                                 96.9
19           cpmc_uci                                 97.8
20           aouw_uwh                                100.0

#### device_source_concept_id BY SITE

In [134]:
######################################
print('Getting the data from the database...')
######################################

device_exposure_device_source_concept_id= pd.io.gbq.read_gbq('''
    WITH
        hpo_counts AS (
            SELECT 
                src_hpo_id,
                COUNT(t1.person_id) as total_counts
            FROM
                `{}.unioned_ehr_device_exposure` AS t1
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_device_exposure`)  AS t2
                ON
                    t1.device_exposure_id=t2.device_exposure_id
            GROUP BY
                1
        ),

        hpo_missing_counts AS (
            SELECT
                t2.src_hpo_id,
                COUNT(t1.person_id) as missing_counts
            FROM
                `{}.unioned_ehr_device_exposure` AS t1
            INNER JOIN
                (SELECT
                    DISTINCT * 
                FROM
                     `{}._mapping_device_exposure`)  AS t2
                ON
                    t1.device_exposure_id=t2.device_exposure_id
            WHERE
                (t1.device_source_concept_id is null or t1.device_source_concept_id=0) 
            GROUP BY
                1
        )

    SELECT
        hpo_counts.src_hpo_id,
        missing_counts,
        total_counts,
        round(100-100*(missing_counts/total_counts),1) AS succes_rate
    FROM
       hpo_counts
    FULL OUTER JOIN
        hpo_missing_counts
            ON
                hpo_missing_counts.src_hpo_id=hpo_counts.src_hpo_id
    '''.format(DATASET, DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET,DATASET),
                    dialect='standard')
device_exposure_device_source_concept_id.shape

print(device_exposure_device_source_concept_id.shape[0], 'records received.')

Getting the data from the database...
21 records received.

In [135]:
device_exposure_device_source_concept_id

           src_hpo_id  missing_counts  total_counts  succes_rate
0            cpmc_uci             NaN         19368          NaN
1         uamc_banner        171307.0        171307          0.0
2               jhchc             NaN           569          NaN
3      seec_morehouse       1153917.0       1153917          0.0
4            ipmc_uic             NaN         10371          NaN
5   trans_am_spectrum           271.0           271          0.0
6           tach_hfhs             NaN         20920          NaN
7              nyc_cu          4395.0          4395          0.0
8            aouw_mcw            68.0            68          0.0
9            saou_uab         59990.0         59990          0.0
10         seec_miami          4592.0          4592          0.0
11           aouw_uwh         23502.0         27876         15.7
12        cpmc_ceders             NaN            29          NaN
13               hrhc            47.0            47          0.0
14               pitt             NaN         12154          NaN
15           cpmc_usc             NaN            34          NaN
16              ecchc             NaN           129          NaN
17                chs             NaN           197          NaN
18        nyc_cornell          1944.0          1944          0.0
19          aouw_mcri         42350.0         42350          0.0
20               syhc           256.0           256          0.0

In [136]:
device_exposure_device_source_concept_id=device_exposure_device_source_concept_id.rename(columns={"succes_rate":"device_exposure_device_source_concept_id"})
device_exposure_device_source_concept_id=device_exposure_device_source_concept_id[["src_hpo_id","device_exposure_device_source_concept_id"]]
device_exposure_device_source_concept_id=device_exposure_device_source_concept_id.fillna(100)
device_exposure_device_source_concept_id

           src_hpo_id  device_exposure_device_source_concept_id
0            cpmc_uci                                     100.0
1         uamc_banner                                       0.0
2               jhchc                                     100.0
3      seec_morehouse                                       0.0
4            ipmc_uic                                     100.0
5   trans_am_spectrum                                       0.0
6           tach_hfhs                                     100.0
7              nyc_cu                                       0.0
8            aouw_mcw                                       0.0
9            saou_uab                                       0.0
10         seec_miami                                       0.0
11           aouw_uwh                                      15.7
12        cpmc_ceders                                     100.0
13               hrhc                                       0.0
14               pitt                                     100.0
15           cpmc_usc                                     100.0
16              ecchc                                     100.0
17                chs                                     100.0
18        nyc_cornell                                       0.0
19          aouw_mcri                                       0.0
20               syhc                                       0.0

In [137]:
datas=[visit_occurrence_visit_type_concept_id,
visit_occurrence_provider_id_df,
visit_occurrence_care_site_id_df,
visit_occurrence_visit_source_concept_id_df,
visit_occurrence_admitting_source_concept_id_df,
visit_occurrence_discharge_to_concept_id_df,
visit_occurrence_preceding_visit_occurrence_id_df,
condition_occurrence_condition_concept_id_df,
condition_occurrence_condition_type_concept_id,
condition_occurrence_condition_source_concept_id,
condition_occurrence_condition_status_concept_id,
drug_exposure_drug_concept_id,
drug_exposure_drug_type_concept_id,
drug_exposure_route_concept_id,
drug_exposure_provider_id,
drug_exposure_visit_occurrence_id,
drug_exposure_drug_source_concept_id,
measurement_measurement_concept_id,
measurement_measurement_type_concept_id,
measurement_operator_concept_id,
measurement_value_as_concept_id,
measurement_unit_concept_id,
measurement_provider_id,
measurement_visit_occurrence_id,
measurement_measurement_source_concept_id,
procedure_occurrence_procedure_concept_id,
procedure_occurrence_procedure_type_concept_id,
procedure_occurrence_modifier_concept_id,
procedure_occurrence_provider_id,
procedure_occurrence_visit_occurrence_id,
procedure_occurrence_procedure_source_concept_id,
device_exposure_device_concept_id,
device_exposure_device_type_concept_id,
device_exposure_provider_id,
device_exposure_visit_occurrence_id,
device_exposure_device_source_concept_id]

In [138]:
master_df=visit_occurrence_visit_concept_id_df

In [139]:
for filename in datas:
    master_df = pd.merge(master_df,filename,on='src_hpo_id',how='outer')

In [140]:

master_df = pd.merge(master_df,site_df,on='src_hpo_id',how='outer')

In [141]:
master_df

,src_hpo_id,visit_occurrence_visit_concept_id,visit_occurrence_visit_type_concept_id,visit_occurrence_provider_id,visit_occurrence_care_site_id,visit_occurrence_visit_source_concept_id,visit_occurrence_admitting_source_concept_id,visit_occurrence_discharge_to_concept_id,visit_occurrence_preceding_visit_occurrence_id,condition_occurrence_condition_concept_id,condition_occurrence_condition_type_concept_id,condition_occurrence_condition_source_concept_id,condition_occurrence_condition_status_concept_id,drug_exposure_drug_concept_id,condition_occurrence_drug_type_concept_id,drug_exposure_route_concept_id,drug_exposure_provider_id,drug_exposure_visit_occurrence_id,drug_exposure_drug_source_concept_id,measurement_measurement_concept_id,measurement_measurement_type_concept_id,measurement_operator_concept_id,measurement_value_as_concept_id,measurement_unit_concept_id,measurement_provider_id,measurement_visit_occurrence_id,measurement_measurement_source_concept_id,procedure_occurrence_procedure_concept_id,procedure_occurrence_procedure_type_concept_id,procedure_occurrence_modifier_concept_id,procedure_occurrence_provider_id,procedure_occurrence_visit_occurrence_id,procedure_occurrence_procedure_source_concept_id,device_exposure_device_concept_id,device_exposure_device_type_concept_id,device_exposure_provider_id,device_exposure_visit_occurrence_id,device_exposure_device_source_concept_id,HPO
0,ecchc,100.0,100.0,0.0,0.0,0.0,0.0,NaN,0.0,100.0,100.0,100.0,NaN,100.0,100.0,NaN,0.0,75.4,100.0,88.5,100.0,81.3,0.0,55.3,0.0,0.2,88.5,100.0,100.0,0.0,0.0,100.0,100.0,100.0,100.0,0.0,0.0,100.0,Eau Claire Cooperative Health Center
1,ipmc_northshore,100.0,100.0,0.0,100.0,0.0,1.1,42.9,0.0,99.8,100.0,0.0,NaN,85.2,44.6,73.1,92.6,100.0,85.2,96.0,93.9,0.0,0.0,61.5,84.1,100.0,13.6,100.0,100.0,0.0,100.0,100.0,95.6,NaN,NaN,NaN,NaN,NaN,NorthShore University Health System
2,tach_hfhs,100.0,100.0,0.0,41.3,0.0,0.0,0.0,0.0,100.0,100.0,100.0,0.0,90.2,100.0,53.6,67.4,53.6,90.1,82.2,100.0,0.0,50.6,48.7,50.6,44.1,82.2,NaN,NaN,NaN,NaN,NaN,NaN,100.0,100.0,99.1,100.0,100.0,Henry Ford Health System
3,seec_morehouse,100.0,43.8,0.0,85.8,100.0,0.0,0.0,0.0,100.0,18.9,100.0,100.0,3.7,0.0,24.2,51.8,100.0,3.7,96.3,39.4,0.0,7.2,43.5,98.9,100.0,96.3,52.6,1.2,0.0,30.2,100.0,52.6,0.0,0.0,3.5,100.0,0.0,SouthEast Enrollment Center Morehouse
4,nyc_hh,100.0,51.8,0.0,0.0,0.0,100.0,NaN,1.4,100.0,100.0,100.0,100.0,100.0,99.5,98.8,0.0,100.0,100.0,100.0,100.0,89.8,NaN,NaN,0.0,95.2,100.0,100.0,100.0,0.0,0.0,100.0,100.0,NaN,NaN,NaN,NaN,NaN,Harlem Hospital
5,hrhc,100.0,100.0,0.0,100.0,100.0,0.0,NaN,0.0,100.0,100.0,100.0,NaN,100.0,100.0,36.5,100.0,100.0,100.0,100.0,100.0,0.0,0.0,NaN,100.0,100.0,100.0,100.0,100.0,0.0,100.0,100.0,100.0,0.0,0.0,100.0,100.0,0.0,HRHCare
6,chci,100.0,100.0,0.0,100.0,0.0,0.0,NaN,0.0,100.0,100.0,100.0,NaN,100.0,100.0,99.7,0.0,100.0,100.0,100.0,100.0,0.0,0.0,100.0,0.0,100.0,100.0,100.0,85.9,0.0,0.0,100.0,100.0,NaN,NaN,NaN,NaN,NaN,"Community Health Center, Inc."
7,syhc,100.0,100.0,0.0,96.6,0.0,0.0,0.0,0.0,100.0,100.0,100.0,0.0,100.0,100.0,0.0,99.3,100.0,100.0,100.0,100.0,0.0,0.0,0.0,0.0,0.0,100.0,100.0,100.0,0.0,91.1,100.0,100.0,100.0,100.0,83.2,100.0,0.0,San Ysidro Health Center
8,saou_uab,100.0,100.0,0.0,100.0,100.0,0.0,0.0,0.0,100.0,0.0,100.0,NaN,100.0,99.6,0.0,0.0,100.0,100.0,100.0,100.0,0.0,0.0,76.0,0.0,100.0,100.0,100.0,0.0,0.0,0.0,100.0,100.0,100.0,100.0,0.0,100.0,0.0,University of Alabama at Birmingham
9,ipmc_rush,100.0,100.0,0.0,100.0,0.0,100.0,99.0,0.0,100.0,100.0,100.0,100.0,100.0,100.0,0.0,100.0,100.0,100.0,100.0,100.0,100.0,0.0,0.0,0.0,100.0,100.0,100.0,0.0,0.0,0.0,100.0,100.0,NaN,NaN,NaN,NaN,NaN,Rush University
10,aouw_mcri,100.0,87.2,0.0,100.0,0.0,99.7,NaN,0.0,99.9,100.0,99.9,NaN,93.2,100.0,NaN,82.3,100.0,73.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95.2,100.0,NaN,100.0,100.0,95.2,100.0,100.0,100.0,100.0,0.0,Marshfield Clinic
11,cpmc_uci,100.0,100.0,0.0,0.0,100.0,0.0,NaN,0.0,100.0,100.0,100.0,NaN,100.0,100.0,NaN,0.0,93.6,100.0,99.8,100.0,0.0,0.2,0.0,0.0,95.0,100.0,100.0,70.9,0.0,0.0,85.7,100.0,100.0,100.0,0.0,97.8,100.0,UC Irvine
12,cpmc_ucsd,100.0,100.0,0.0,0.0,0.0,0.0,NaN,0.0,100.0,0.0,100.0,NaN,95.4,100.0,88.3,99.5,100.0,95.4,100.0,100.0,0.0,0.0,0.0,0.0,97.6,0.0,100.0,0.0,0.0,0.0,100.0,0.0,NaN,NaN,NaN,NaN,NaN,UC San Diego
13,jhchc,100.0,100.0,0.0,99.8,0.0,0.0,0.0,0.0,100.0,100.0,100.0,NaN,100.0,100.0,100.0,94.8,100.0,100.0,100.0,100.0,NaN,NaN,NaN,96.5,100.0,100.0,100.0,100.0,NaN,97.1,100.0,100.0,100.0,100.0,91.9,100.0,100.0,Jackson-Hinds CHC
14,pitt,100.0,100.0,0.0,100.0,100.0,0.0,6.9,0.0,100.0,100.0,100.0,94.2,100.0,100.0,17.5,27.2,14.8,100.0,100.0,100.0,0.0,0.0,43.3,34.6,52.8,100.0,100.0,100.0,0.0,94.7,65.1,100.0,100.0,100.0,70.9,71.0,100.0,University of Pittsburgh
15,cpmc_ucd,14.1,100.0,0.0,100.0,99.7,0.2,NaN,0.0,83.2,82.7,83.2,NaN,80.1,100.0,0.0,30.4,100.0,80.2,99.8,100.0,NaN,100.0,100.0,60.9,100.0,100.0,16.1,75.8,98.8,98.6,100.0,99.8,NaN,NaN,NaN,NaN,NaN,UC Davis
16,ipmc_nu,41.8,100.0,0.0,0.0,41.8,0.0,NaN,0.0,99.7,22.1,99.7,NaN,99.9,27.1,100.0,82.6,100.0,99.9,97.1,97.1,0.0,NaN,100.0,31.1,100.0,0.4,98.7,0.0,0.0,87.1,100.0,98.7,NaN,NaN,NaN,NaN,NaN,Northwestern Memorial Hospital
17,aouw_mcw,56.1,100.0,0.0,78.5,0.0,0.0,0.0,0.0,100.0,0.0,100.0,0.0,100.0,100.0,37.9,46.3,46.3,100.0,100.0,100.0,72.6,0.0,100.0,0.0,100.0,100.0,100.0,0.0,0.0,100.0,100.0,100.0,100.0,100.0,41.2,100.0,0.0,Medical College of Wisconsin
18,seec_ufl,60.8,82.3,0.0,100.0,100.0,20.4,26.8,0.0,100.0,22.6,99.8,4.0,99.6,99.0,100.0,100.0,100.0,100.0,99.9,100.0,100.0,0.0,23.6,35.8,98.5,100.0,100.0,0.1,NaN,83.1,94.3,100.0,NaN,NaN,NaN,NaN,NaN,University of Florida
19,uamc_banner,76.0,100.0,0.0,16.2,79.2,39.6,0.0,0.0,0.2,0.0,99.9,0.0,85.7,38.7,37.5,95.7,100.0,95.0,100.0,100.0,0.9,2.9,6.5,6.2,99.5,93.5,43.0,7.4,0.0,69.9,100.0,32.4,86.5,56.1,94.6,38.0,0.0,Banner Health
20,aouw_uwh,78.7,100.0,0.0,100.0,0.0,0.2,0.2,0.0,93.8,100.0,91.8,0.0,94.7,98.6,84.6,45.0,100.0,92.6,96.2,100.0,100.0,29.7,100.0,77.5,100.0,14.5,77.2,87.2,NaN,31.2,100.0,17.8,39.5,100.0,62.4,100.0,15.7,UW Health (University of Wisconsin Madison)
21,nec_phs,81.5,100.0,0.0,100.0,0.0,0.0,NaN,0.0,97.2,87.6,100.0,100.0,94.9,100.0,NaN,0.0,100.0,0.0,86.1,100.0,0.0,0.0,1.0,0.0,100.0,86.1,99.5,93.0,0.0,0.0,100.0,100.0,NaN,NaN,NaN,NaN,NaN,Partners HealthCare
22,cpmc_usc,95.5,NaN,0.0,100.0,95.5,100.0,NaN,100.0,99.2,0.0,99.8,0.0,97.0,0.0,0.0,50.5,100.0,97.7,100.0,0.0,NaN,0.0,0.0,0.3,100.0,100.0,100.0,0.0,0.0,5.3,100.0,100.0,100.0,0.0,0.0,100.0,100.0,University of Southern California
23,cpmc_ucsf,97.5,100.0,0.0,100.0,0.0,0.4,NaN,0.0,99.9,100.0,29.1,NaN,97.4,99.9,NaN,95.6,100.0,45.6,100.0,100.0,NaN,100.0,100.0,42.2,100.0,0.0,99.9,81.6,100.0,74.8,100.0,6.6,NaN,NaN,NaN,NaN,NaN,UC San Francisco
24,nyc_cu,99.4,100.0,0.0,0.0,0.0,72.3,100.0,0.0,82.5,100.0,82.5,100.0,93.1,99.9,100.0,0.0,58.9,34.4,88.7,100.0,100.0,100.0,99.4,0.0,64.6,1.8,78.7,100.0,100.0,31.7,57.5,78.8,99.0,100.0,0.0,93.4,0.0,Columbia University Medical Center
25,seec_emory,99.5,100.0,0.0,72.5,99.5,0.0,0.0,0.0,100.0,0.0,100.0,100.0,100.0,100.0,0.0,23.7,100.0,100.0,99.9,99.5,100.0,0.5,42.0,14.5,100.0,99.9,100.0,0.0,NaN,19.0,100.0,100.0,NaN,NaN,NaN,NaN,NaN,SouthEast Enrollment Center Emory
26,ipmc_uic,99.7,100.0,0.0,99.4,0.0,98.6,8.8,0.0,NaN,NaN,NaN,NaN,92.5,100.0,89.9,96.8,100.0,92.5,97.8,100.0,100.0,6.5,88.5,100.0,100.0,97.8,100.0,0.0,0.0,100.0,100.0,100.0,89.6,100.0,100.0,100.0,100.0,University of Illinois Chicago
27,trans_am_spectrum,99.8,100.0,0.0,100.0,7.6,6.3,7.8,0.0,100.0,100.0,100.0,100.0,100.0,100.0,86.1,98.9,100.0,100.0,100.0,100.0,100.0,4.4,92.8,98.6,100.0,0.0,100.0,0.0,4.6,98.0,100.0,100.0,100.0,100.0,100.0,100.0,0.0,Spectrum Health
28,nec_bmc,100.0,100.0,0.0,49.1,0.0,0.0,NaN,0.0,100.0,0.0,100.0,NaN,100.0,100.0,NaN,90.8,100.0,9.2,100.0,100.0,0.0,0.0,0.0,39.0,100.0,100.0,100.0,0.0,0.0,0.1,100.0,100.0,NaN,NaN,NaN,NaN,NaN,Boston Medical Center
29,chs,100.0,100.0,0.0,100.0,0.0,0.0,0.0,98.6,100.0,100.0,100.0,100.0,96.3,100.0,97.7,100.0,100.0,97.2,87.7,100.0,57.9,2.8,78.3,100.0,100.0,87.7,100.0,100.0,10.4,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,Cherokee Health Systems
30,nyc_cornell,100.0,100.0,0.0,0.0,0.0,0.4,18.5,99.3,100.0,100.0,100.0,100.0,100.0,100.0,18.9,0.0,0.0,100.0,100.0,100.0,0.0,0.0,0.0,0.0,0.0,91.0,82.0,100.0,0.0,0.0,0.0,84.0,100.0,100.0,0.0,0.0,0.0,Weill Cornell Medical Center
31,seec_miami,100.0,100.0,0.0,0.0,100.0,0.0,0.0,0.0,100.0,0.0,100.0,0.0,85.3,100.0,65.6,81.4,100.0,85.3,99.1,52.7,100.0,88.0,38.5,90.2,99.7,99.1,99.7,0.0,NaN,100.0,94.5,99.7,0.0,0.0,96.9,96.9,0.0,SouthEast Enrollment Center Miami
32,cpmc_ceders,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,27.1,100.0,10.3,100.0,100.0,55.7,0.0,0.0,100.0,100.0,100.0,0.0,0.0,81.7,0.0,0.0,100.0,100.0,10.1,100.0,0.0,0.0,100.0,100.0,100.0,93.1,0.0,100.0,Cedars-Sinai
33,ipmc_uchicago,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,University of Chicago
34,trans_am_baylor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Baylor

In [142]:
master_df=master_df.fillna("No Data")
master_df

,src_hpo_id,visit_occurrence_visit_concept_id,visit_occurrence_visit_type_concept_id,visit_occurrence_provider_id,visit_occurrence_care_site_id,visit_occurrence_visit_source_concept_id,visit_occurrence_admitting_source_concept_id,visit_occurrence_discharge_to_concept_id,visit_occurrence_preceding_visit_occurrence_id,condition_occurrence_condition_concept_id,condition_occurrence_condition_type_concept_id,condition_occurrence_condition_source_concept_id,condition_occurrence_condition_status_concept_id,drug_exposure_drug_concept_id,condition_occurrence_drug_type_concept_id,drug_exposure_route_concept_id,drug_exposure_provider_id,drug_exposure_visit_occurrence_id,drug_exposure_drug_source_concept_id,measurement_measurement_concept_id,measurement_measurement_type_concept_id,measurement_operator_concept_id,measurement_value_as_concept_id,measurement_unit_concept_id,measurement_provider_id,measurement_visit_occurrence_id,measurement_measurement_source_concept_id,procedure_occurrence_procedure_concept_id,procedure_occurrence_procedure_type_concept_id,procedure_occurrence_modifier_concept_id,procedure_occurrence_provider_id,procedure_occurrence_visit_occurrence_id,procedure_occurrence_procedure_source_concept_id,device_exposure_device_concept_id,device_exposure_device_type_concept_id,device_exposure_provider_id,device_exposure_visit_occurrence_id,device_exposure_device_source_concept_id,HPO
0,ecchc,100,100,0,0,0,0,No Data,0,100,100,100,No Data,100,100,No Data,0,75.4,100,88.5,100,81.3,0,55.3,0,0.2,88.5,100,100,0,0,100,100,100,100,0,0,100,Eau Claire Cooperative Health Center
1,ipmc_northshore,100,100,0,100,0,1.1,42.9,0,99.8,100,0,No Data,85.2,44.6,73.1,92.6,100,85.2,96,93.9,0,0,61.5,84.1,100,13.6,100,100,0,100,100,95.6,No Data,No Data,No Data,No Data,No Data,NorthShore University Health System
2,tach_hfhs,100,100,0,41.3,0,0,0,0,100,100,100,0,90.2,100,53.6,67.4,53.6,90.1,82.2,100,0,50.6,48.7,50.6,44.1,82.2,No Data,No Data,No Data,No Data,No Data,No Data,100,100,99.1,100,100,Henry Ford Health System
3,seec_morehouse,100,43.8,0,85.8,100,0,0,0,100,18.9,100,100,3.7,0,24.2,51.8,100,3.7,96.3,39.4,0,7.2,43.5,98.9,100,96.3,52.6,1.2,0,30.2,100,52.6,0,0,3.5,100,0,SouthEast Enrollment Center Morehouse
4,nyc_hh,100,51.8,0,0,0,100,No Data,1.4,100,100,100,100,100,99.5,98.8,0,100,100,100,100,89.8,No Data,No Data,0,95.2,100,100,100,0,0,100,100,No Data,No Data,No Data,No Data,No Data,Harlem Hospital
5,hrhc,100,100,0,100,100,0,No Data,0,100,100,100,No Data,100,100,36.5,100,100,100,100,100,0,0,No Data,100,100,100,100,100,0,100,100,100,0,0,100,100,0,HRHCare
6,chci,100,100,0,100,0,0,No Data,0,100,100,100,No Data,100,100,99.7,0,100,100,100,100,0,0,100,0,100,100,100,85.9,0,0,100,100,No Data,No Data,No Data,No Data,No Data,"Community Health Center, Inc."
7,syhc,100,100,0,96.6,0,0,0,0,100,100,100,0,100,100,0,99.3,100,100,100,100,0,0,0,0,0,100,100,100,0,91.1,100,100,100,100,83.2,100,0,San Ysidro Health Center
8,saou_uab,100,100,0,100,100,0,0,0,100,0,100,No Data,100,99.6,0,0,100,100,100,100,0,0,76,0,100,100,100,0,0,0,100,100,100,100,0,100,0,University of Alabama at Birmingham
9,ipmc_rush,100,100,0,100,0,100,99,0,100,100,100,100,100,100,0,100,100,100,100,100,100,0,0,0,100,100,100,0,0,0,100,100,No Data,No Data,No Data,No Data,No Data,Rush University
10,aouw_mcri,100,87.2,0,100,0,99.7,No Data,0,99.9,100,99.9,No Data,93.2,100,No Data,82.3,100,73.7,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,95.2,100,No Data,100,100,95.2,100,100,100,100,0,Marshfield Clinic
11,cpmc_uci,100,100,0,0,100,0,No Data,0,100,100,100,No Data,100,100,No Data,0,93.6,100,99.8,100,0,0.2,0,0,95,100,100,70.9,0,0,85.7,100,100,100,0,97.8,100,UC Irvine
12,cpmc_ucsd,100,100,0,0,0,0,No Data,0,100,0,100,No Data,95.4,100,88.3,99.5,100,95.4,100,100,0,0,0,0,97.6,0,100,0,0,0,100,0,No Data,No Data,No Data,No Data,No Data,UC San Diego
13,jhchc,100,100,0,99.8,0,0,0,0,100,100,100,No Data,100,100,100,94.8,100,100,100,100,No Data,No Data,No Data,96.5,100,100,100,100,No Data,97.1,100,100,100,100,91.9,100,100,Jackson-Hinds CHC
14,pitt,100,100,0,100,100,0,6.9,0,100,100,100,94.2,100,100,17.5,27.2,14.8,100,100,100,0,0,43.3,34.6,52.8,100,100,100,0,94.7,65.1,100,100,100,70.9,71,100,University of Pittsburgh
15,cpmc_ucd,14.1,100,0,100,99.7,0.2,No Data,0,83.2,82.7,83.2,No Data,80.1,100,0,30.4,100,80.2,99.8,100,No Data,100,100,60.9,100,100,16.1,75.8,98.8,98.6,100,99.8,No Data,No Data,No Data,No Data,No Data,UC Davis
16,ipmc_nu,41.8,100,0,0,41.8,0,No Data,0,99.7,22.1,99.7,No Data,99.9,27.1,100,82.6,100,99.9,97.1,97.1,0,No Data,100,31.1,100,0.4,98.7,0,0,87.1,100,98.7,No Data,No Data,No Data,No Data,No Data,Northwestern Memorial Hospital
17,aouw_mcw,56.1,100,0,78.5,0,0,0,0,100,0,100,0,100,100,37.9,46.3,46.3,100,100,100,72.6,0,100,0,100,100,100,0,0,100,100,100,100,100,41.2,100,0,Medical College of Wisconsin
18,seec_ufl,60.8,82.3,0,100,100,20.4,26.8,0,100,22.6,99.8,4,99.6,99,100,100,100,100,99.9,100,100,0,23.6,35.8,98.5,100,100,0.1,No Data,83.1,94.3,100,No Data,No Data,No Data,No Data,No Data,University of Florida
19,uamc_banner,76,100,0,16.2,79.2,39.6,0,0,0.2,0,99.9,0,85.7,38.7,37.5,95.7,100,95,100,100,0.9,2.9,6.5,6.2,99.5,93.5,43,7.4,0,69.9,100,32.4,86.5,56.1,94.6,38,0,Banner Health
20,aouw_uwh,78.7,100,0,100,0,0.2,0.2,0,93.8,100,91.8,0,94.7,98.6,84.6,45,100,92.6,96.2,100,100,29.7,100,77.5,100,14.5,77.2,87.2,No Data,31.2,100,17.8,39.5,100,62.4,100,15.7,UW Health (University of Wisconsin Madison)
21,nec_phs,81.5,100,0,100,0,0,No Data,0,97.2,87.6,100,100,94.9,100,No Data,0,100,0,86.1,100,0,0,1,0,100,86.1,99.5,93,0,0,100,100,No Data,No Data,No Data,No Data,No Data,Partners HealthCare
22,cpmc_usc,95.5,No Data,0,100,95.5,100,No Data,100,99.2,0,99.8,0,97,0,0,50.5,100,97.7,100,0,No Data,0,0,0.3,100,100,100,0,0,5.3,100,100,100,0,0,100,100,University of Southern California
23,cpmc_ucsf,97.5,100,0,100,0,0.4,No Data,0,99.9,100,29.1,No Data,97.4,99.9,No Data,95.6,100,45.6,100,100,No Data,100,100,42.2,100,0,99.9,81.6,100,74.8,100,6.6,No Data,No Data,No Data,No Data,No Data,UC San Francisco
24,nyc_cu,99.4,100,0,0,0,72.3,100,0,82.5,100,82.5,100,93.1,99.9,100,0,58.9,34.4,88.7,100,100,100,99.4,0,64.6,1.8,78.7,100,100,31.7,57.5,78.8,99,100,0,93.4,0,Columbia University Medical Center
25,seec_emory,99.5,100,0,72.5,99.5,0,0,0,100,0,100,100,100,100,0,23.7,100,100,99.9,99.5,100,0.5,42,14.5,100,99.9,100,0,No Data,19,100,100,No Data,No Data,No Data,No Data,No Data,SouthEast Enrollment Center Emory
26,ipmc_uic,99.7,100,0,99.4,0,98.6,8.8,0,No Data,No Data,No Data,No Data,92.5,100,89.9,96.8,100,92.5,97.8,100,100,6.5,88.5,100,100,97.8,100,0,0,100,100,100,89.6,100,100,100,100,University of Illinois Chicago
27,trans_am_spectrum,99.8,100,0,100,7.6,6.3,7.8,0,100,100,100,100,100,100,86.1,98.9,100,100,100,100,100,4.4,92.8,98.6,100,0,100,0,4.6,98,100,100,100,100,100,100,0,Spectrum Health
28,nec_bmc,100,100,0,49.1,0,0,No Data,0,100,0,100,No Data,100,100,No Data,90.8,100,9.2,100,100,0,0,0,39,100,100,100,0,0,0.1,100,100,No Data,No Data,No Data,No Data,No Data,Boston Medical Center
29,chs,100,100,0,100,0,0,0,98.6,100,100,100,100,96.3,100,97.7,100,100,97.2,87.7,100,57.9,2.8,78.3,100,100,87.7,100,100,10.4,100,100,100,100,100,100,100,100,Cherokee Health Systems
30,nyc_cornell,100,100,0,0,0,0.4,18.5,99.3,100,100,100,100,100,100,18.9,0,0,100,100,100,0,0,0,0,0,91,82,100,0,0,0,84,100,100,0,0,0,Weill Cornell Medical Center
31,seec_miami,100,100,0,0,100,0,0,0,100,0,100,0,85.3,100,65.6,81.4,100,85.3,99.1,52.7,100,88,38.5,90.2,99.7,99.1,99.7,0,No Data,100,94.5,99.7,0,0,96.9,96.9,0,SouthEast Enrollment Center Miami
32,cpmc_ceders,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,100,27.1,100,10.3,100,100,55.7,0,0,100,100,100,0,0,81.7,0,0,100,100,10.1,100,0,0,100,100,100,93.1,0,100,Cedars-Sinai
33,ipmc_uchicago,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,University of Chicago
34,trans_am_baylor,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,No Data,Baylor

In [143]:
master_df.to_csv("data\\foreign.csv")